html,body{
	font-size: 16px;
	/*background: #;*/
	padding: 0;margin: 0;
	background: #F9F9F9;
}
ul,ol,dl,dd,dt,li,p,h1,h2,h3,h4,h5,h6{
	list-style: none;
	margin: 0;padding: 0;
}
a{
	text-decoration: none;
}
h1,h2,h3,h4,h5,h6{
    display: block;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

.hidden{
	display: none;
}
.after:after{
	content: " ";
	display: block;
	clear: both;
}
.ft{
	float: left;
}
.rg{
	float: right;
}
/*头部*/
header{
	width: 100%;
	height: 44px;
	line-height: 44px;
	border-bottom: 1px solid #F1F1F1;
	background: #06C1AE;
}
header a{
	margin-left: 3%;
	color: #fff;
}
header span{
	display: block;
	width: 40%;
	margin: 0 30%;
	text-align: center;
	color: #fff;
}



/*头部切换*/
.list_change{
	width:100%;
	background: #fff;
}
.list_change ul{
	border:1px solid #f1f1f1;
}
.list_change ul li{
	width: 50%;
	text-align: center;
	padding: 10px 0;
	color: #404040;
	font-size: 14px;
}
.list_change ul li.active{
	color: #06C1AE;
	border-bottom: 2px solid #06C1AE;
}

.overall_evaluation{
	padding: 10px;
	background: #fff;
	border-bottom: 1px solid #f1f1f1;
	color: #404040;
}
.overall_evaluation span{
	color: #06C1AE;
}
.overall_evaluation span i{
	display: inline-block;
	width: 13px;height: 15px;
	background: url(../imanges/4-_24.png) center no-repeat;
	background-size: contain;
	padding: 0 5px;
}
.overall_evaluation span i.active{
	background: url(../imanges/4-_10.png) center no-repeat;
	background-size: contain;
	padding: 0 5px;
}


.evaluate{
	margin-top: 10px;
	background: #fff;
}
.evaluate>p{
	padding: 8px 10px;
	border-bottom: 1px solid #f1f1f1;
}
.evaluate .content .xing,.see_all{
	display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 0 10px 0 0;
}
.evaluate .content .xing p{
	padding: 8px 10px;
}
.evaluate .content .xing i{
	display: inline-block;
	width: 11px;height: 13px;
	background: url(../imanges/4-_24.png) center no-repeat;
	background-size: contain;
	padding: 0 4px;
}
.evaluate .content .xing i.active{
	background: url(../imanges/4-_10.png) center no-repeat;
	background-size: contain;
	padding: 0 4px;
}
.evaluate .content{
	border-bottom: 1px solid #f1f1f1;
}
.content>p,.lun{
	padding: 0 10px 8px 10px ;
	font-size: 12px;
	color: #AFAFAF;
}
.lun{
	font-size: 14px;
	color: #404040;
	
}

.evaluate .replay{
	background: #f7f7f7;
	min-height: 35px;
	display: flex;
	/*-webkit-box-align: center;*/
    -webkit-align-items: center;
    align-items: center;
	margin: 10px;
	font-size: 12px;
	padding-left:10px ;
}





























