html,body{
	font-size: 16px;
	background: #F9F9F9;
	padding: 0;margin: 0;
}
ul,ol,dl,dd,dt,li,p,h1,h2,h3,h4,h5,h6{
	list-style: none;
	margin: 0;padding: 0;
}
a{
	text-decoration: none;
}
h1,h2,h3,h4,h5,h6{
    display: block;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
li{
    display: block;
    -webkit-margin-before: 0em;
    /*-webkit-margin-after: 0.4em;*/
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.hidden{
	display: none;
}
.after:after{
	content: " ";
	display: block;
	clear: both;
}
.ft{
	float: left;
}
.rg{
	float: right;
}

/*头部*/
header{
	width: 100%;
	height: 46px;
	line-height: 44px;
	border-bottom: 1px solid #F1F1F1;
	background: #06C1AE;
	text-align: center;

}
header a{
	margin-left: 3%;
	color: #fff;
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(../imanges/f1.png) center no-repeat;
	background-size: contain;
	margin-top: 12px;
}
/*header a i{
	
	
}*/
header span{
	margin-left: -4%;
	color: #fff;
}

/*头部切换*/
.list_change{
	width:100%;
	background: #fff;
}
.list_change div{
	border:1px solid #f1f1f1;
	font-size: 0;
}
.list_change a{
	display: inline-block;
	width: 50%;
	text-align: center;
	padding: 10px 0;
	color: #404040;
	font-size: 14px;
}
.list_change div a.active{
	color: #06C1AE;
	border-bottom: 2px solid #06C1AE;
}


.personality{
	width: 100%;
	/*background: #fff;*/
}
.sevice{
	background: #fff;
	padding: 10px;
	margin-bottom: 10px;
}
.personality .sevice img{
	width: 100px;
	height: 85px;
}
.personality .sevice ul{
	display: inline-block;
	margin-left: 1%;
	width: 34%;
	position: relative;
	top:-25px;
}
.personality .sevice ul li{
	font-size: 16px;
	color: #404040;
	line-height: 1.5;
}
.personality .sevice ul li:first-child{
	width: 97%;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp:2;
	overflow: hidden;

}
.personality .sevice ul li:nth-child(2) {
	font-size: 14px;
	color: #06C1AE;
}
.personality .sevice .top{
	border-bottom: 1px solid #F1F1F1;
}
.personality .sevice .top span.fail,span.dai{
	vertical-align: top;
	background: #fff;
	display: inline-block;
	margin-top:10px;
	color: #f00;
	float: right;
	font-size: 14px;
}
.personality .sevice .top span.zheng{
	vertical-align: top;
	background: #fff;
	display: inline-block;
	margin: 5px 10px;
	color: #06C1AE;
}
.personality .sevice .bottom{
	padding-top: 10px;
	text-align: right;
}
.personality .sevice .bottom{
	width: 59%;
}
.personality .sevice .bottom button:first-child{
	margin-right: 3%;
}
.personality .sevice .bottom button{
	background: #fff;
	border:1px solid #aaa;
	padding: 5px;
	border-radius: 3px;
	width: 80px;
	color: #404040;
}
.personality .sevice .bottom button:active{
	border-color: #06C1AE;
}
.bottom.rg span{
	margin-right: 0px;
	 border:none;
	 font-size: 14px;
	 color:#06C1AE;
	 width: 80px;
	 display: inline-block;
	 text-align: center;
}
.tishi{
	display: inline-block;
	width: 14px;
	height: 14px;
	background: url(../imanges/g233.png) center no-repeat;
	background-size: 14px 14px;
	vertical-align:middle;
}

.sitTime,.sitShi{
	width: 28%;
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;
    font-size: 13px;
    color: #9A0000;
}
#changeStatus{
    white-space: nowrap;  
    width: 80px;  
    overflow: hidden;  
    padding-right: .6rem;  
    background-color: #eee;  
    background: transparent;  
    appearance:none;  
    -moz-appearance:none; /* Firefox */  
    -webkit-appearance:none; /* Safari 和 Chrome */  
    border: 1px solid #aaa;
    border-radius: 3px;
    text-align: center;
    padding: 4px 0 4px 4px;
}
#changeStatus option{
	text-align: center;
}