@charset "utf-8";
*{margin:0;padding:0;-webkit-text-size-adjust:100%;outline:0;-webkit-tap-highlight-color:rgba(255,255,255,0);-webkit-touch-callout:none;-webkit-user-drag:none;}
::after,::before{-webkit-tap-highlight-color:rgba(255,255,255,0);-webkit-touch-callout:none;-webkit-user-drag:none;}
li{list-style:none;}
input,select,button,img{border:none; vertical-align:middle;}
body{margin:auto;font-family:"Microsoft Yahei",'宋体',arial;background:#eeeeee;color:#333333;}
input,select,button,textarea{font-family:"Microsoft Yahei",'宋体',arial;}
.clearfix:after{content:'\20';display:block;height:0;clear:both;}
.clearfix{*zoom:1;}
img{width:100%;margin:auto;display:block;}


.wrapper .showNavApp { position:static; display:block; padding:0;}
.wrapper .showNavApp ul { display:block; border-radius:0; background:transparent; padding:0;}
.wrapper .nav_APP { background-color:#fff;}
.wrapper .nav_APP a { color:#333; padding-top:56px;}
.wrapper .nav_APP .s { width:50px; height:50px; background-position:5px 5px; margin-left:-25px; background-size:40px auto; background-color:transparent;}
.wrapper .nav_APP ul li { -webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box; margin:0; padding:12px 0 2px; vertical-align:top;}
.wrapper .nav_APP ul li:nth-child(4n) { border-right:0 none;}

.viewport {position:relative; overflow:hidden; border-bottom:1px solid#eee; padding-bottom:15px;}
.viewport #nav_Node {height:186px;}
/*.viewport #scroller {position:absolute;}*/
/*.viewport #scroller .slide {float:left;}*/
.viewport #indicator2 {position:absolute;height:6px;background: url(../images/indicator2_c.png) repeat-x 0 0;bottom:4px;left:50%;z-index:2;}
.viewport #dotty { position:absolute; width:6px; height:6px; border-radius:10px; background:#ccc;}


.share { position:absolute; right:0; top:0; padding:12px 10px 0;}
.share a { border-left:1px solid #e5e5e5; display:block; text-align:center; width:32px; height:20px; padding:26px 0 0 10px; color:#aaa; font-size:12px; background:url(../images/tg_ico.png) no-repeat 16px -74px; background-size:164px auto; line-height:20px;}

.header .back,.header .search,.header .type,.header .my,.nav_bm_bottom a:before,.nav_bm_bottom li span,.filter li:after,.share_fd li i:before,.tabs .more:after,.new_active .title a:after,.contact_info .email a:before,.contact_info .phone a:before,.contact2 dt:before,.slide_tabs .more:after,.info_list .tel,.vit_list .count:before,.vit_list .jiesu,.vit_rank_list .count:before,.signUp a:before,.review_list .zan:before, .review_list .reply_btn:before,.vote_bot_btn a:before,.b_pic .pictures i:before,.b_pic .mobile_photo i:before{background:url(../images/bm_icons.png) no-repeat;background-size:150px auto;}
.company_info2 dd h3 .rz {background:url(../images/business_icons.png) no-repeat 0 0; background-size:100px auto;}
.header,.nav_bm_bottom,.contact_info{width:100%;position:fixed;top:0;left:0;height:45px;line-height:45px;background:#fb9031;color:#ffffff;text-align:center;z-index:999;}
.header{font-size:20px;position:relative;}
.header .back,.header .search,.header .type,.header .my{position:absolute;width:45px;height:45px;top:0;left:15px;font-size:18px;overflow:hidden;}
.header .search,.header .type,.header .my{left:auto;right:45px;text-indent:-999px;}
.header .type{right:2px;}
.header .back{background-position:-103px 10px;padding-left:10px;text-align:right;background-size:120px auto;}
.header .search{background-position:-114px -34px;}
.header .type{background-position:-85px -60px;background-size:120px auto;}
.header .my{background-position:-86px -132px;background-size:120px auto;}
.header a{display:block;color:#ffffff;}
.o_main{zoom:1;overflow:hidden;}

.bm_banner { position:relative; z-index:1;}
.bm_banner img { width:100%; vertical-align:top;}
.bm_banner .job_search { position:absolute; top:10px; left:10px; right:10px; background-color:transparent; padding:0; margin:0;}

.ruzhu { position:relative; z-index:1; background-color:#fff; padding:10px;}
.ruzhu .po { position:absolute; right:10px; top:10px;}
.ruzhu .more { display:inline-block; vertical-align:top; margin-top:1px; color:#fff; font-size:12px; line-height:24px; background-color:#3399ff; border-radius:2px; padding:0 6px;}
.ruzhu .po .s { display:inline-block; vertical-align:1px; background:url(../images/business_icons.png) no-repeat -74px -465px; background-size:100px auto; width:26px; height:32px;}

.more_list { background-color:#fff; padding:15px 0; text-align:center;}
.more_list a { border:1px solid #fb9031; color:#fb9031; display:inline-block; vertical-align:middle; padding:8px 40px;}

.topbanner { position:relative; z-index:1;}
.topbanner .img { display:block; width:100%;}
.topbanner .title,.topbanner .info { text-align:center; display:block; position:absolute; top:35px; left:10px; right:10px;}
.topbanner .title { font-size:30px; line-height:36px; text-shadow:0 0 2px rgba(0,0,0,.8); color:#fff;}
.topbanner .info { top:80px; line-height:24px; height:24px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; color:#555;}
.topbanner .po { position:absolute; right:10px; bottom:10px;}
.topbanner .po .sp { display:inline-block; padding:2px 8px; border-radius:2px; background-color:rgba(0,0,0,.6); color:#fff; margin-left:6px; font-size:12px; line-height:20px;}
.topbanner {}

/*before*/
.filter li:after,.tabs .more:after,.new_active .title a:after,.contact_info .email a:before,.contact_info .phone a:before,.contact2 dt:before,.self_intro .more:after,.user_info2 .address:before,.p_name:before,.slide_tabs .more:after,.info_list .tel,.vit_list .count:before,.vit_rank_list .count:before,.signUp a:before,.review_list .zan:before, .review_list .reply_btn:before,.vote_bot_btn a:before,.b_pic .pictures i:before,.b_pic .mobile_photo i:before{display:inline-block; vertical-align:middle;content:'';}

.save,.exit{color:#ffffff;background:#fb9031;display:block;width:60%;margin:0 auto 20px;font-size:16px;border-radius:50px;height:40px;position:relative;}
.reg_btn{margin-top:20px;}

.tabs,.slide_tabs{line-height:40px;font-size:16px;color:#666666;background:#ffffff;}
.tabs ul,.filter ul,.e_condit{display:-webkit-box; display:box;}
.tabs li,.filter li,.e_condit dl{-webkit-box-flex:1; -webkit-flex:1; flex:1;text-align:center;}
.tabs li.current,.slide_tabs li.current{border-bottom:1px solid #06c1ae;}
.tabs li,.slide_tabs li{border-bottom:1px solid #eeeeee;}
.tabs li.more,.slide_tabs li .more{width:15px;}

/*nav*/
.nav_bm_bottom,.contact_info{bottom:0;top:auto;height:50px;background:#ffffff;border-top:1px solid #eeeeee;}
.nav_bm_bottom ul{display:-webkit-box; display:box;}
.nav_bm_bottom li{-webkit-box-flex:1; -webkit-flex:1; flex:1;line-height:16px;text-align:center;font-size:12px;}
.nav_bm_bottom li span{display:block;width:25px;height:24px;margin:auto;background-size:100px auto;}
.nav_bm_bottom li span.home{background-position:2px 0;}
.nav_bm_bottom li.current span.home{background-position:-38px 0;}
.nav_bm_bottom li span.nearby{background-position:4px -75px;background-size:85px auto;}
.nav_bm_bottom li.current span.nearby{background-position:-31px -75px;}
.nav_bm_bottom li span.sm{background-position:3px -46px;background-size:80px auto;}
.nav_bm_bottom li.current span.sm{background-position:-28px -46px;}
.nav_bm_bottom li span.manage{background-position:4px -74px;background-size:85px auto;}
.nav_bm_bottom li.current span.manage{background-position:-30px -74px;}
.nav_bm_bottom li span.mine{background-position:2px -29px;}
.nav_bm_bottom li.current span.mine{background-position:-38px -29px;}
.nav_bm_bottom li span.tg{background-position:-28px -401px;background-size:80px auto;}
.nav_bm_bottom li.current span.tg{background-position:-59px -401px;}
.nav_bm_bottom a{display:block;color:#818187;padding-top:6px;}
.nav_bm_bottom li.current a{color:#06c1ae;}

.nav_bm_bottom li span.join{background-position:-23px -326px;background-size:85px auto;}
.nav_bm_bottom li span.manage{background-position:2px -325px;background-size:85px auto;}

/*分类信息*/
.cinfo_menu,.info_list,.zx_list{background:#ffffff;}
.cinfo_menu{padding-top:15px;margin-top:10px;}
.cinfo_menu li{float:left;width:25%;text-align:center;font-size:14px;margin-bottom:15px;}
.cinfo_menu li i,.cinfo_menu li span{width:50px;height:50px;border-radius:100px;margin:0 auto 5px;display:block;background-size:38px auto;background-repeat: no-repeat;background-position:center;}
.cinfo_menu li i img{width:80%;margin-top:3px;}
.cinfo_menu a{color:#333333;}
.row5 li{width:20%!important;}


.filter2 { background-color:#fff;}
.filter2 .tab { display:-webkit-box; display:-moz-box; display:box; border-bottom:1px solid #f0f0f0;}
.filter2 .tab li { width:100%; -webkit-box-flex:1; -webkit-flex:1; flex:1; padding:9px 0;}
.filter2 .tab li a { overflow:hidden; display:block; text-align:center; height:20px; line-height:20px; position:relative; border-left:1px solid #eee; color:#666;}
.filter2 .tab li a s { display:none;}
.filter2 .tab li:first-child a { border-left:0 none;}
.filter2 .tab li a em,.filter2 .tab li a em:after,.about_info .more em,.about_info .more em:after,.con_wxbox .more em,.con_wxbox .more em:after,.d_more em,.d_more em:after{ vertical-align:-3px; margin-left:5px; display:inline-block; border-color:#adadad transparent transparent transparent; border-width:6px; border-style:solid; transition:transform .3s ease; -webkit-transition:-webkit-transform .3s ease; transform-origin:50% 25% 0; -webkit-transform-origin:50% 25% 0; position:relative; z-index:1;}
.filter2 .tab li a em:after,.about_info .more em:after,.con_wxbox .more em:after,.d_more em:after{ content:''; border-color:#fff transparent transparent transparent; position:absolute; margin:-8px 0 0 -6px;}
.filter2 .tab .current a { color:#f60;}
.filter2 .tab .current a em,.about_info .more.current em{ border-color:#f60 transparent transparent transparent; transform:rotateZ(180deg); -webkit-transform: rotateZ(180deg); transition:transform .3s ease; -webkit-transition:-webkit-transform .3s ease; transform-origin:50% 25% 0; -webkit-transform-origin:50% 25% 0;}
.con_wxbox .more.current em,.d_more.current em{transform:rotateZ(180deg); -webkit-transform: rotateZ(180deg);}
.con_wxbox .more.current em:after,.d_more.current em:after{transform:rotateZ(360deg); -webkit-transform: rotateZ(360deg);}
.filter-fixed { position:fixed; top:0; left:0; width:100%; z-index:1002;}
.fullbg .pull2 { display:block; position:fixed; width:14px; height:15px; background:url(../images/hicon_sort.png) no-repeat 0 -45px; background-size:14px auto; top:409px; left:50%;}
.fullbg { background-color:#000; opacity:.8; top:0; left:0; width:100%; height:100%; z-index:1001; position:absolute;}
.about_info{background:#ffffff;font-size:16px;line-height:20px;margin-bottom:10px;}
.about_info .con{padding:10px;}
.about_info .more{border-top:1px solid #eeeeee;}
.about_info .more:after{content:'';width:8px;display:inline-block;}
.about_info .more.current em,.con_wxbox .more.current em{border-color:#adadad transparent transparent transparent;}

/*最新活动*/
.new_active,.company_info2,.convert_list{background:#ffffff;margin-bottom:10px;}
.new_active .title a{color:#333333;display:block;width:100%;}
.new_active .title a:after{background-position:right -270px;background-size:120px auto;width:12px;height:40px;margin-left:5px;float:right;}

.info_list{background:#eeeeee;}
.info_list li{overflow:hidden;font-size:12px;padding:10px 10px 10px 70px;position:relative;margin-bottom:1px;background:#ffffff; min-height:50px;}
.info_list li:last-child{}
.info_list .pageNav2{border-top:1px solid #eeeeee;background:#ffffff;}
.info_list .pic{width:50px;overflow:hidden; position:absolute; left:10px; top:10px;}
.info_list .pic img{height:50px; width:50px; vertical-align:top; border-radius:50px;}
.info_list .con{font-size:12px;}
.info_list h3{font-size:18px;line-height:20px; margin-top:4px;color:#333;font-weight:normal;}
.info_list p{ padding-right:50px;margin-top:4px;color:#999999;line-height:18px; height:18px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.info_list .tel{width:34px;height:34px;top:50%;right:10px;margin-top:-17px;background:url(../images/business_icons.png) no-repeat 0px -564px;position:absolute;background-size:100px auto;text-indent:-999px;overflow:hidden;}
.info_list .more,.about_info .more,.vit_list .more,.vit_rank_list .more,.con_wxbox .more,.convert_list .more,.jf_list .more{text-align:center;font-size:16px;line-height:40px;}
.info_list .more a,.about_info .more a,.vit_list .more a,.vit_rank_list .more a,.con_wxbox .more a,.convert_list .more a,.jf_list .more a{color:#333333;}
.info_list .more a:before{}
.info_list a{display:block;}

.company_info2{padding:15px 10px 5px;margin-bottom:10px;font-size:14px;zoom:1; position:relative; z-index:2; background-color:#eee;}
.company_info2 dt{max-width:100px; position:absolute; top:-40px;}
.company_info2 dt img{border-radius:4px;width:80px;height:80px; vertical-align:top;}
.company_info2 dd{padding-left: 95px;}
.company_info2 dd h3{font-size:18px; font-weight:normal; padding-right:50px;}
.company_info2 dd h3 .s { display:inline-block; vertical-align:middle; font-size:12px; line-height:16px; padding:2px 5px; border-radius:2px; background-color:#2fbf79; color:#fff; margin-left:8px; text-decoration:none;}
.company_info2 dd h3 .display0 { display:none;}


.company_info2 dd h3 .rz { display:inline-block; *display:inline; *zoom:1; vertical-align:-3px; width:21px; height:21px; overflow:hidden; text-indent:-999em;}
.company_info2 dd h3 .rz_1 { background-position:0px -841px;}
.company_info2 dd h3 .rz_2 { background-position:-27px -841px;}
.company_info2 dd h3 .rz_3 { background-position:-52px -841px;}
.company_info2 dd h3 .rz_4 { background-position:-78px -841px;}
.company_info2 dd h3 .rz_1.none { background-position:0px -818px;}
.company_info2 dd h3 .rz_2.none { background-position:-27px -818px;}
.company_info2 dd h3 .rz_3.none { background-position:-52px -818px;}
.company_info2 dd h3 .rz_4.none { background-position:-78px -818px;}




.company_info2 dd p{color:#999999;font-size:14px;margin:3px 0;}
.company_info2 .serives img{height:24px;width:auto;display:inline-block;margin-right:5px;}

.tabs .more:after,.arr:after,.self_intro .more:after,.slide_tabs .more:after{width:20px;height:10px;background-position:-80px -88px;background-size:100px auto;}
.share_fd .title,.new_active .title{font-size:16px;border-bottom:1px solid #eeeeee;line-height:40px;margin:0 10px;}
.share_fd .title span,.new_active .title span{display:inline-block;border-bottom:1px solid #06c1ae;height:40px;position:relative;top:1px;}
.active_intro .more,.self_intro .more,.d_more{font-size:16px;text-align:center;line-height:40px;border-top:1px solid #eee;}
.d_more{background:#fff;position:relative;}

.o_info{background:#ffffff;padding:10px;}


.tips{font-size:13px;color:#fb9031;padding:10px 0 0 26px;line-height:22px;margin-left:10px;position:relative;}
.tips i{width:20px;height:20px;border:1px solid #fb9031;position:absolute;top:8px;left:0;border-radius:50px;}
.tips i:before,.tips i:after{width:2px;height:8px;background:#fb9031;position:absolute;top:4px;left:9px;content:'';}
.tips i:after{height:2px;top:13px;}
.share_fd .tips{margin-top:10px;}

.search_cond{background:#ffffff;line-height:40px;color:#999999;font-size:15px;padding:0 10px;}
.search_cond dt{color:#fb9031;display:table-cell;padding-right:8px;}
.search_cond dd{display:table-cell;}
.search_cond dd span{margin-right:8px;}
.proper_num{color:#666666;margin:5px 10px;font-size:14px;}

/*焦点图*/
.home_focus{position:relative;}
/*.home_focus li{display:none;}
.home_focus .num{width:100%;position:absolute;bottom:18px!important;left:0;text-align:center;z-index:9;height:8px;}
.home_focus .num li{display:inline-block;height:6px;width:6px;background:#ffffff;border:1px solid #ffffff;margin:0 1px;border-radius:50px!important;float:none!important;text-indent:-999px;overflow:hidden;}
.home_focus .num li.active{background-color:#fb9031!important;}*/
.home_focus .total{color:#ffffff;position:absolute;bottom:5px;right:10px;font-size:14px;}


/*底部联系方式*/
.contact_info{border:none;}
.contact_info .user_info{background:#666666;text-align:left;float:left;width:50%;height:50px;color:#ffffff;line-height:20px;}
.contact_info .user_info h4{font-size:15px;margin:5px 10px 0;font-weight:normal;}
.contact_info .user_info p{font-size:14px;margin:0 10px;}
.contact_info .user_info a{color:#ffffff;}
.contact_info .email,.contact_info .phone{height:50px;width:25%;background:#fb9031;text-indent:-999px;overflow:hidden;position:relative;float:left;}
.contact_info .email a:before,.contact_info .phone a:before{width:40px;height:30px;background-position:-42px -570px;position:absolute;top:11px;left:50%;margin-left:-20px;background-size:120px auto;}
.contact_info .email:after{background:#ffa95d;width:1px;height:30px;top:10px;right:0;content:'';position:absolute;}
.contact_info .phone a:before{background-position:-86px -570px;}
.contact_info a{display:block;height:50px;}

/*联系人信息*/
.rental_contacts{font-size:15px;line-height:28px;margin-bottom:10px;}
.rental_contacts dt{color:#999999;display:inline-block;min-width:70px;}
.rental_contacts dd{display:inline-block;color:#222222;}


/*其他信息*/
.o_info{font-size:14px;}
.o_info dl{zoom:1;overflow:hidden;line-height:28px;}
.o_info dt{float:left;color:#999999;min-width:40px;}
.o_info dd{position:relative;padding-left:40px;}

.contact2,.self_intro,.vit_list,.vit_rank_list,.user_reviews,.con_wxbox{background:#ffffff;margin-bottom:10px;}
.contact2 .tel:before{background-position:0 -284px;width:30px;}
.contact2 .qq:before{background-position:-47px -284px;width:30px;}

/*滑动导航*/
.slide_tabs{height:41px;position:relative; overflow:hidden;border-bottom:1px solid #eeeeee;}
.slide_tabs ul{width:640px;height:40px;}
.slide_tabs li{width:90px;float:left;text-align:center;overflow:hidden; border-bottom:0 none;}
.slide_tabs li.select{border-bottom:1px solid #06c1ae}
.slide_tabs .more{right:0;background:url(../images/nav2015BG.png) repeat-y 0 0;position:absolute;top:0;width:50px;height:40px;}
.slide_tabs .more span { position:absolute; top:16px; left:26px; display:inline-block; width:8px; height:8px; -webkit-transform:rotate(135deg); border-top:1px solid #999; border-left:1px solid #999;}
#scroller2 {-webkit-tap-highlight-color: rgba(0,0,0,0);	width: 100%;-webkit-transform: translateZ(0);-moz-transform: translateZ(0);	-ms-transform: translateZ(0);-o-transform: translateZ(0);transform: translateZ(0);-webkit-touch-callout: none;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;-webkit-text-size-adjust: none;-moz-text-size-adjust: none;-ms-text-size-adjust: none;-o-text-size-adjust: none;text-size-adjust: none;}

/*投票活动*/
.vit_list li,.vit_rank_list li,.convert_list li{padding:15px 10px;zoom:1;overflow:hidden;border-bottom:1px solid #eeeeee;position:relative;}
.vit_list li .pic,.vit_rank_list li .pic,.convert_list li .pic{float:left;max-width:115px;position:relative;z-index:2;}
.convert_list li .pic{max-width:105px;}
.convert_list li .pic img { width:105px; height:105px; border-radius:4px;}
.vit_list li .con,.vit_rank_list li .con,.convert_list li .con{position:relative;padding-left:125px;}
.convert_list li .con{padding-left:120px;}
.vit_list h3,.convert_list h3{font-size: 16px;line-height: 20px;color: #333;font-weight: normal;position:relative;z-index:2;}
.convert_list h3{font-size:18px;}
.vit_list p,.convert_list p {margin-top:4px;color: #999999;line-height: 16px;font-size:12px;position:relative;z-index:2;}
.vit_list .count{font-size:12px;float:right;color:#999999;margin-top:4px;position:absolute;bottom:-5px;right:0px;z-index:2;}
.vit_list .count:before,.vit_rank_list .count:before{width:30px;height:20px;background-size:100px auto;background-position:-35px -294px;}
.vit_list .jiesu{background-size:90px auto;background-position:0 -292px;width:53px;height:30px;position:absolute;top:50%;right:0px;margin-top:-15px;z-index:1;}

.vit_rank_list li p{color:#999999;font-size:12px;line-height:24px;margin-top:3px;}
.vit_rank_list .name{font-size:16px;color:#333333;font-weight:600px;}
.vit_rank_list .votes{font-size:16px;color:#ff6600;}
.vit_rank_list .count{margin-left:20px;}
.vit_rank_list .vote_btn{height:24px;line-height:24px;width:54px;right:10px;top:50%;margin-top:-12px;font-size:14px;background:#ff6600;color:#ffffff;text-align:center;border-radius:3px;position:absolute;}
.vit_rank_list .vote_btn a{display:block;color:#ffffff;}
.vit_rank_list li .pic a{display:block;}
.signUp,.vote_bot_btn{background:#fb9031;height:50px;line-height:50px;position:fixed;bottom:0;width:100%;text-align:center;color:#ffffff;font-size:16px;z-index:888;}
.signUp a{display:block;color:#ffffff;}
.signUp a:before,.vote_bot_btn a:before,.vote_bot_btn .bm a:before{background-position:-42px -255px;width:35px;height:35px;background-size:110px auto;}

/*评论*/
.user_reviews .title{font-size:16px;border-bottom:1px solid #eeeeee;line-height:40px;margin:0 10px;position:relative;}
.user_reviews .title h3{display:inline-block;border-bottom:1px solid #06c1ae;height:40px;position:relative;top:1px;font-size:16px;font-weight:normal;}
.user_reviews .title a{display:block;color:#333333;}
.user_reviews .title sup,.user_reviews .title sup:after{position:absolute;top:15px;right:-10px;content:'';border-color:#adadad transparent transparent transparent; border-width:8px; border-style:solid;transform:rotateZ(-90deg); -webkit-transform: rotateZ(-90deg);}
.user_reviews .title sup:after{content:''; border-color:#fff transparent transparent transparent;top:-10px;right:-8px;transform:rotateZ(0deg); -webkit-transform: rotateZ(0deg);}


.user_reviews{padding:0;}
.user_reviews .ComentNum{color:#999999;font-size:14px;display:inline-block;padding:0 6px;margin:5px 0 0 15px;position:relative;border:1px solid #cacaca;line-height:18px;}
.user_reviews .ComentNum:before{position:absolute;border-left:1px solid #cacaca;border-bottom:1px solid #cacaca;content:'';width:6px;height:6px;background:#ffffff;-webkit-transform:rotate(45deg);left:-5px;top:6px;}
.review_list li{padding:10px 0;margin:0 10px;position:relative;min-height:40px;border-bottom:1px solid #eeeeee;overflow:hidden;}
.review_list li:last-child{border:0;}
.review_list .u_head{position:absolute;top:10px;left:0px;width:30px;}
.review_list .con{padding-left:40px;line-height:20px;font-size:16px;}
.review_list .u_name,.review_list .u_name a{font-size:16px;color:#f96547;min-width:80px;margin-right:10px;line-height:20px;}
.review_list .r_time{font-size:14px;color:#999999;}
.review_list .con p{margin:6px 0 10px;}
.review_list .zan,.review_list .reply_btn{color:#999999;font-size:14px;float:right;height:30px;line-height:30px;}
.review_list .reply_btn{margin:0 5px 0 25px;}
.review_list .zan:before,.review_list .reply_btn:before{background-position:0px -317px;width:30px;height:30px;background-size:120px auto;}
.review_list .reply_btn:before{background-position:0 -180px;}
.review_list .zan:hover:before{background-position:-47px -146px;}
.review_list .reply_con{border-top:1px solid #eeeeee;margin-top:8px;padding-top:8px;}
.review_list .reply_con li{padding:0;border:0;margin:0;min-height:24px;line-height:24px;}

.reply_lou{border:1px solid #dddddd;background:#fff7f0;padding:3px;margin:8px 0;}
.reply_lou li{position:relative;margin:0;padding:5px;border:0;line-height:22px;}
.reply_lou li.c{padding:5px;border:1px solid #dddddd;}
.reply_lou li p{margin-bottom:0!important;}
.reply_lou sup{position:absolute;top:5px;right:5px;color:#999999;}

.vote_bot_btn li{float:left;width:50%;background:#3399ff;}
.vote_bot_btn li a{color:#ffffff;display:block;}
.vote_bot_btn li:first-child a:before{background-position:-84px -254px;}
.vote_bot_btn .bm{background:#fb9031;}

.e_condit{border-top:1px solid #eeeeee;margin-bottom:10px;padding:10px 0;background:#ffffff;display:-webkit-box; display:box;}
.e_condit dl{-webkit-box-flex:1; -webkit-flex:1; flex:1;text-align:center;border-right:1px solid #eeeeee;font-size:15px;line-height:24px;}
.e_condit dl:last-child{border:none;}
.e_condit dt{color:#999999;}
.con_wxbox .con{padding:10px;line-height:20px;font-size:14px;}
.con_wxbox .more{border-top:1px solid #eeeeee;}

.child_info{padding:10px;background:#ffffff;}
.child_info dl{line-height:24px;overflow:hidden;}
.child_info dt{font-size:17px;float:left;}
.child_info dd{color:#ffffff;font-size:15px;float:right;background:#ff6600;border-radius:3px;text-align:center;width:80px;}
.child_info dd a{color:#ffffff;}
.child_info p{margin:5px 0;color:#999999;font-size:13px;}
.f66{color:#ff6600;}

/*填写信息*/
.b_pic{position:relative;}
.b_pic .pictures,.b_pic .mobile_photo{position:absolute;width:60px;height:90px;text-align:center;color:#ffffff;font-size:14px;line-height:24px;top:50%;left:20%;margin-top:-45px;}
.b_pic .mobile_photo{left:auto;right:20%;}
.b_pic .pictures i,.b_pic .mobile_photo i{display:block;height:60px;background:#ff645a;margin-bottom:3px;border-radius:100px;text-align:center;}
.b_pic .mobile_photo i{background:#4db0fd;}
.b_pic .pictures i:before,.b_pic .mobile_photo i:before{background-position:-45px -246px;width:30px;height:30px;margin-top:15px;background-size:120px auto;}
.b_pic .mobile_photo i:before{background-position:-92px -246px}
.b_pic a{color:#ffffff;}
.inp_Itembox,.convert_info{background:#ffffff;margin-bottom:10px;}
.inp_Itembox dl{position:relative;min-height:40px;border-bottom:1px solid #eeeeee;font-size:16px;padding:0 10px;}
.inp_Itembox dt{float:left;width:50px;line-height:26px;margin:7px 0;color:#999999;border-right:1px solid #eeeeee;}
.inp_Itembox dd{min-height:26px;float:left;line-height:26px;margin:7px 0;padding-left:15px;width:78%;}
.inp_Itembox dd input{height:16px;padding:5px 0;line-height:16px;border:0;font-size:16px;width:98%;}
.inp_Itembox dl .menu{position:absolute;top:7px;hegiht:26px;width:24px;right:10px;}
.inp_Itembox dl .menu i{display:block;border-bottom:2px solid #999999;margin-top:5px;}
.inp_Itembox .yuan{color:#999999;position:absolute;top:7px;right:10px;}
.inp_Itembox .gx_radio,.inp_Itembox .sex,.inp_Itembox .qz_radio{display:inline-block;margin-right:20px;}
.inp_Itembox .gx_radio:before,.inp_Itembox .sex:before,.inp_Itembox .qz_radio:before{width:18px;height:18px;border:1px solid #afafaf;border-radius:50px;margin:0 4px 3px 0;}
.inp_Itembox .gx_radio.current:before,.inp_Itembox .sex.current:before,.inp_Itembox .qz_radio.current:before{background-color:#fb9031;border-color:#fb9031;background-position:-2px -279px;background-size:120px auto;}
.inp_Itembox .txt{display:block;width:95%;height:150px;font-size:16px;padding:10px;border:none;}

.bm_btn{color:#ffffff;background:#cccccc;display:block;width:60%;margin:0 auto 20px;font-size:16px;border-radius:50px;height:40px;position:relative;}
.bm_btn.current{background:#fb9031;}

/*兑换信息*/
.convert_info{padding:10px;position:relative;}
.convert_info h4{font-size:16px;font-weight:normal;}
.convert_info p{margin-top:5px;font-size:14px;color:#999999;}
.convert_info p span{font-size:16px;}
.convert_info .ml_8{margin-left:8px;}
.convert_info .fen{position:absolute;right:10px;top:50%;margin-top:-12px;font-size:14px;}
.convert_info .dec,.convert_info .add,.convert_list .dec,.convert_list .add{border:1px solid #999999;border-radius:20px;height:25px;line-height:25px;width:25px;text-align:center;float:left;color:#999999;}
.convert_info .add,.convert_list .add{color:#8dcd76;border-color:#8dcd76;display:block;float:right;}
.convert_info .add.option,.convert_list .add.option{color:#06c1ae;border-color:#06c1ae;}
.convert_info .amount,.convert_list .amount{width:22px;float:left;color:#999999;display:inline-block;line-height:24px;text-align:center;}

.convert_list li{position:relative;padding-bottom:10px;}
.convert_list .fen{line-height:25px;color:#999999;}
.convert_list p{font-size:14px;line-height:16px;margin:10px 0;color:#999;}
.convert_list .price{color:#ff6600;font-size:20px;}
.convert_list p del{margin-left:12px;}
.convert_list .add{float:left;}
.convert_list .overage{float:left;font-size:14px;}
.convert_list .btn{color:#fb9031; border:1px solid #fb9031; border-radius:16px;background:#fff;position:absolute;top:50%;right:10px;margin-top:-16px;text-align:center;font-size:14px;line-height:32px;height:32px; padding:0 20px;}
.convert_list .btn a{display:block;color:#ffffff;}
.convert_list .f99{color:#999;}

.jf_list{padding:0 10px;background:#ffffff;}
.jf_list li{padding:10px 0;border-bottom:1px solid #eeeeee;position:relative;}
.jf_list h4{font-size:14px;margin-bottom:4px;font-weight:normal;}
.jf_list p{color:#999999;font-size:12px;}
.jf_list .jf{line-height:20px;position:absolute;top:50%;right:0px;font-size:14px;margin-top:-10px;}
.jf_list .jf.add{color:#ff6600;}
.jf_list .jf.dec{color:#73c257;}

.mt_10{margin-top:10px;}
.mt_45{margin-top:-45px;}
.mb_10{margin-bottom:10px!important;}
.mar_b_50{margin-bottom:50px;}
.n_mb{margin:0;}

.wen_all{padding:10px;line-height:22px;font-size:14px;background:#ffffff;}
.wen_all.tab-cont{display:none;overflow:hidden;clear:both;}
.bg_zhiding,.bg_renzheng{background:#ff645a; border-radius:2px;display:inline-block;color:#ffffff;font-size:14px;padding:0 4px;margin-left:5px; vertical-align:1px;}
.bg_renzheng { background-color:#12a83a;}


/*a link*/
a{text-decoration:none;}

.list_live{background:#ffffff;}
.list_live li { position:relative; z-index:1; padding:8px; border-bottom:1px solid #eee;}
.list_live .tit { font-size:18px; line-height:30px; max-height:60px; overflow:hidden;}
.list_live .txt { color:#999; font-size:14px; line-height:24px; height:24px; overflow:hidden;}
.list_live .price { color:#999; font-size:14px; bottom:8px; right:8px; text-align:right; line-height:24px;}
.list_live .bg_zhiding0,.list_live .bg_zhiding1,.list_live .bg_tu,.list_live .bg_sj {display:inline-block; margin-top:-5px; line-height:18px; vertical-align:middle; font-size:14px; padding:0px 5px 2px; color:#fff; background-color:#ff6600;}
.list_live .zhiding_false_0 { display:none;}
.list_live .zhiding_true_1 { display:none;}
.list_live .bg_zhiding1 { background-color:#0051c0;}
.list_live .bg_tu { background-color:transparent; color:#459702;}
.list_live .bg_sj { background-color:#ea695a;}



.job_search{padding:15px 10px;background-color:#eee;}
.job_search .sbox{ background-color:#fff;border:1px solid #e5e5e5;position:relative; z-index:1;}
.job_search input[type='text']{width:100%;height:36px;line-height:36px;padding:0 0 0 10px;font-size:15px;display:block;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box; border:0 none; outline:0;}
.job_search button{position:absolute;width:44px;height:28px;text-indent:-999px;overflow:hidden;background:url(../images/o_icons.png) no-repeat -68px -146px; background-size:100px auto; border:0 none; outline:0;top:5px;right:0;}

.bottom_fixed { z-index:999; position:fixed; bottom:0; left:0; right:0; overflow:hidden; height:50px; background-color:#fff;}
.bottom_fixed ul { display:-webkit-box; display:-moz-box; display:box;}
.bottom_fixed li { -webkit-box-flex:1; -webkit-flex:1; flex:1; text-align:center; width:100%; -webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;  overflow:hidden;}
.bottom_fixed li a { height:45px; padding-top:5px; background-color:#83cb43; color:#fff; display:block; font-size:12px; line-height:18px;}
.bottom_fixed li .tel { background-color:#2190e6;}
.bottom_fixed li .gps { background-color:#06c1ae;}
.bottom_fixed li a .s { display:block; margin:0 auto; vertical-align:middle; width:28px; height:26px; background:url(../images/business_icons.png) no-repeat -28px -490px; background-size:120px auto;}
.bottom_fixed li .tel .s { background-position:0 -490px; width:23px; height:26px;}
.bottom_fixed li .gps .s { background-position:0 -524px; width:25px; height:26px;}




#weixinX4,.urlerweima { display:none; position:fixed; z-index:1008; top:0; left:30px; right:30px; padding:10px; background-color:#fff; border-radius:4px; text-align:center;}
#weixinX4 .tit,.urlerweima .tit { display:block; text-align:center; text-align:center; border-bottom:1px solid #eee; padding-bottom:6px;}
#weixinX4 .tit .close,.urlerweima .tit .close { float:right; width:23px; height:23px; overflow:hidden; text-indent:-999em; background:url(../images/tg_ico.png) no-repeat -75px -51px; background-size: 164px auto;}
#weixinX4 img,.urlerweima img { width:100%; vertical-align:top; display:block; margin-bottom:10px;}
#weixinX4 .number { color:#2c8cd6;}


.getBMerweima { display:block; border:1px solid #eee; background-color:#fff; margin-top:10px; border-radius:4px; text-align:center; padding:5px 0;}



.picsaNode { margin-top:10px; background-color:#fff; padding:10px 0; overflow-x:auto;-webkit-overflow-scrolling:touch;}
.picsaNode .inner { width:2000px;}
.picsaNode ul { display:table;}
.picsaNode li { display:table-cell; vertical-align:middle; text-align:center; padding:0 5px; -webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.picsaNode li img { vertical-align:middle;}


.tel_add li .s,.mod_2017 .more,.huangyelist .tel,.reply_box .ft,.jiache:before { background:url(../images/business_icons.png) no-repeat 0 0; background-size:100px auto;}
.tel_add { margin:15px 0 10px;}
.tel_add ul { display:-webkit-box; display:-moz-box; display:box;}
.tel_add li { position:relative; z-index:1; -webkit-box-flex:1; -webkit-flex:1; flex:1; text-align:left; width:100%; -webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box; padding-left:30px; line-height:22px;}
.tel_add li .s { display:block; position:absolute; left:0; top:5px; width:21px; height:32px; background-position:0 -760px;}
.tel_add li .address .s { background-position:-40px -760px;}
.tel_add li .t em { color:#aaa;}
.tel_add li p { height:22px; line-height:22px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}

.mod_2017 { background-color:#fff; margin-top:10px; border-bottom:1px solid #e5e5e5;}
.mod_2017 .hd { border-bottom:1px solid #eee;}
.mod_2017 .hd .tit { display:inline-block; border-bottom:1px solid #fb9031; margin-bottom:-1px; padding:10px;}
.mod_2017 .hd .link { display:inline-block; padding:10px;}
.mod_2017 .bd { padding:0 10px;}
.mod_2017 .more { float:right; margin:10px 10px 0 0; width:26px; height:32px; overflow:hidden; text-indent:-999em; background-position:-74px -465px;}

.huangyelist {}
.huangyelist li { position:relative; z-index:1; padding:10px 60px 10px 60px; border-bottom:1px solid #eee; min-height:57px;}
.huangyelist li:last-child { border-bottom:0 none;}
.huangyelist li img { position:absolute; width:50px; height:50px; border-radius:25px; left:0; top:13px;}
.huangyelist .txt h3 { font-size:18px; font-weight:normal; line-height:30px; height:30px; overflow:hidden;}
.huangyelist .txt p { color:#aaa; font-size:14px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.huangyelist .tel { display:block; position:absolute; right:5px; top:22px; width:34px; height:34px; background-position:0 -564px; text-indent:-999em; overflow:hidden; border-radius:40px; background-size:100px auto;}

.jiache { display:none; padding-bottom:10px; color:#444; background-color:#b1c5df; padding:5px; border-radius:3px;}
.jiache:before { display:inline-block; content:' '; vertical-align:middle; width:15px; height:20px; margin-right:6px; background-position:-85px -146px;}

.reply_box .hd { height:45px;}
.reply_box .ft { font-size:12px; padding-left:24px; background-position:-102px -881px; background-size:120px auto; line-height:24px; height:24px; overflow:hidden;}
.reply_box .return_close{position:absolute;left:10px;top:10px;width:28px;height:24px;text-indent:-999px;overflow:hidden;background:url(../images/headIcon.png) no-repeat -50px -175px;background-size:68px auto;}
.reply_box .title { display:block; text-align:center; margin:0 auto; line-height:45px; white-space:nowrap; max-width:8em; overflow:hidden; text-overflow:ellipsis;}
.reply_box .rsubmit{position:absolute;right:7px;top:7px;border:1px solid #dddddd;background-color:#ffffff; color:#666;padding:2px 12px;z-index:8; outline:0; font-size:14px;}

.headerblack { z-index:1001!important; background-color:#06c1ae;}