@charset "utf-8";
.module .hd .tit .s,.module .hd .more,.module .hd .btn .s,.bannerSJ .s,.news,.news .s,.pic_3_list li .time,.pic_3_list li .address,.index2017_bottom li .s,.hotKey .tit,.historyKey .del,.historyKey .hd .tit,.tab_all a:after { background:url(../images/index-2016-3-sp.png) no-repeat 0 0; background-size:200px auto;}
body { background-color:#f2f2f2; padding-bottom:50px!important;}
.blank10 { height:10px; vertical-align:top; overflow:hidden;}
body .header .my {right:auto; left:5px;}
body .header .search {right:5px;}
body .foot_link {}
#ipageTitle img { display:block; vertical-align:top; height:45px;}

.hotKey { padding:10px;}
.hotKey a,.historyKey .bd a { display:block; float:left; margin:5px 8px 5px 0; border:1px solid #eee; padding:2px 7px; border-radius:3px; color:#999;}
.hotKey .tit { float:left; margin:5px 10px 5px 0; padding:2px 0 2px 19px; background-position:-185px -368px; color:#999;}
.hotKeyline { height:10px; overflow:hidden; border-bottom:1px solid #e5e5e5; border-top:1px solid #e5e5e5; background-color:#eee;}
.historyKey {}
.historyKey .hd { border-bottom:1px solid #eee; padding:10px;}
.historyKey .hd .tit { color:#999; padding-left:19px; background-position:-184px -338px;}
.historyKey .hd .del { display:block; margin-top:4px; float:right; width:20px; height:20px; background-position:-112px -266px; overflow:hidden; text-indent:-999em;}
.historyKey .bd { color:#999; padding:10px;}

.tab_all {}

.tab_all { height:43px; text-align:left; margin-bottom:-4px;}
.tab_all li { width:90px; float:left; text-align:center; padding:2px 0 0; line-height:30px; overflow:hidden; vertical-align:middle;}
.tab_all a { font-size:16px; display:block; font-weight:normal; padding:5px 0; position:relative; z-index:1; color:#999;}
.tab_all a:after { content:' '; display:none; position:absolute; left:50%; margin-left:-4px; bottom:0; width:15px; height:8px; background-position:-112px -249px;}
.tab_all .current a { color:#06c1ae; padding:5px 0;}
.tab_all .current a:after { display:block;}
.tab_all .more { display:block; width:50px; position:absolute; right:0; top:0; background:url(../images/nav2015BG.png) repeat-y 0 0; height:39px;}
.tab_all .more span { position:absolute; top:17px; left:26px; display:inline-block; width:8px; height:8px; -webkit-transform:rotate(135deg); border-top:1px solid #999; border-left:1px solid #999;}
#wrapper2 { position:relative; z-index:1; overflow:hidden;}
#scroller2 {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	width: 100%;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
	
}








#slide { background-color:#fff;}
#slide .cell .title { display:none!important;}
#slide #indicator { bottom:15px!important;}
#indicator li { background-color:#fce6d3!important; width:40px!important;}
#indicator .active { background-color:#fcc99c!important;}

.select_index { padding:0 10px; border-bottom:0 none!important; background-color:#fcfbfb; border-top-left-radius:8px; border-top-right-radius:8px;}
.select_index2 { float:left; margin:12px 0 0 0; font-size:18px;}
.select_index2 li { display:inline-block; vertical-align:middle; padding:0 5px;}
.select_index2 .current a { color:#f99130;}

.index2017_bottom { margin:-5px 0;}
.index2017_bottom li { float:left; width:50%; padding:5px; -webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.index2017_bottom li:nth-child(2n) { float:right;}
.index2017_bottom li a { display:block; height:70px; background-color:#fff; border-radius:8px; padding:10px 10px 10px 60px; position:relative; z-index:1;}
.index2017_bottom li .s { display:block; position:absolute; left:10px; top:30px; width:43px; height:35px; overflow:hidden;}
.index2017_bottom .li_01 .s { background-position:0 -332px;}
.index2017_bottom .li_02 .s { background-position:-55px -332px; top:27px;}
.index2017_bottom .li_03 .s { background-position:0 -391px; left:10px;}
.index2017_bottom .li_04 .s { background-position:-56px -388px; left:10px;}
.index2017_bottom .big { font-size:20px; color:#444;}
.index2017_bottom .small { margin-top:4px; font-size:12px; color:#aaa; line-height:20px;}



.news { border-bottom:1px solid #e5e5e5; border-top:1px solid #e5e5e5; position:relative; background-color:#fff; padding:10px 78px 10px 48px; margin:15px 0 10px; background-position:-165px -249px;}
.news .inner1 { height:30px; overflow:hidden; position:relative; z-index:1;}
.news li { height:30px; line-height:30px; overflow:hidden;}
.news .more { display:inline-block; vertical-align:middle; position:absolute; right:28px; top:13px; background-color:#fb9031; padding:4px 8px; line-height:18px; border-radius:2px; color:#fff; font-size:14px;}
.news .s { display:block; width:10px; height:17px; position:absolute; right:10px; top:17px; background-position:-190px -310px;}

.content .showNavApp { position:static; display:block; padding:10px 0;}
.content .showNavApp ul { display:block; border-radius:0; background:transparent; padding:0;}
.content .nav_APP ul li { width:24%;}
@media (min-width: 320px){
	.content .nav_APP ul li { width:23%;}
}
@media (min-width: 360px){
	.content .nav_APP ul li { width:24%;}
}
.content .nav_APP ul li:nth-child(5n) { border-right:0 none;}
.content .nav_APP a { color:#333;}
.content .nav_APP .s { width:42px; height:42px; border-radius:16px; background-position:8px 8px; margin-left:-21px;}

.zdy_html2015 { margin:10px 5px;}
.zdy_html2015 img { vertical-align:top; border-radius:8px; width:100%;}

.search_box{background:#fdd3ad;height:33px;line-height:33px;padding-left:30px;border-radius:5px;margin:6px 44px 0 6px;text-align:left;position:relative;}
.search_box:before{width:24px;height:24px;background-size:110px auto;background-position:0 -646px;position:absolute;top:4px;left:5px;}
.search_box input{background:none;height:32px;line-height:32px;width:100%;color:#fb9031;display:block;font-size:15px; border:0 none; outline:0;}
.search_box input::-webkit-input-placeholder{ color:#fb9031!important;}

.viewport {position:relative; background-color:#fff; margin-bottom:21px; border-bottom:1px solid #e5e5e5;}
.viewport #nav_Node {height:148px; overflow:hidden; position:relative; left:auto; right:auto; top:auto; bottom:auto;}
.viewport #scroller {
	position: absolute;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}
.viewport #scroller .slide {float:left;}
.viewport #indicator2 {position:absolute;height:6px;background: url(../images/indicator2_c.png) repeat-x 0 0;bottom:-15px;left:50%;z-index:2;}
.viewport #dotty { position:absolute; width:6px; height:6px; border-radius:10px; background:#ccc;}



.module { margin:10px 5px; background-color:#fff; border-radius:8px;}
.module .hd {}
.module .hd .tit { float:left; padding-left:15px; font-size:18px; line-height:55px; font-weight:normal;}
.module .hd .tit .s { display:inline-block; width:28px; height:25px; overflow:hidden; margin:15px 5px 0 0; vertical-align:top;}
.module .hd .tit .s_2 { background-position:-50px 0;}
.module .hd .tit .s_3 { background-position:-100px 0;}
.module .hd .tit .s_4 { background-position:-150px 0;}
.module .hd .tit .s_5 { background-position:0 -50px;}
.module .hd .tit .s_6 { background-position:-50px -50px;}
.module .hd .tit .s_7 { background-position:-100px -50px;}
.module .hd .tit .s_8 { background-position:-150px -50px;}
.module .hd .more { float:right; width:30px; height:30px; text-indent:-999em; overflow:hidden; background-position:-150px -87px; margin:13px 7px 0 0;}
.module .hd .btn { float:right; color:#aaa; font-size:14px; line-height:55px;}
.module .hd .btn .s { display:inline-block; width:18px; height:25px; overflow:hidden; margin:19px 5px 0 0; vertical-align:top; background-position:-50px -100px;}
.module .hd .s_search { margin-right:12px;}
.module .hd .s_search .s { background-position:0px -100px;}
.module .bd { padding:10px;}
.module_2 .bd { padding-top:0;}
.module_1 .hd  { background-color:#fbfbfb; border-top-left-radius:8px; border-top-right-radius:8px;}
.module_3 .hd { margin:0 12px; border-bottom:1px solid #f3f3f3;}
.module_3 .hd .tit { padding-left:5px; color:#fc7e10;}
.module_3 .hd .more { margin:13px 0 0 10px; float:left; background-position:-100px -87px;}

.text_btn a { display:inline-block; color:#333; border:1px solid #cdcdcd; border-radius:20px; margin:8px 10px 8px 0; font-size:16px; padding:3px 12px;}

.pic_1_list,.pic_3_list { padding-bottom:20px!important;}
.pic_1_list li { position:relative; z-index:1; border-bottom:1px solid #f2f2f2; padding:10px 0 10px 115px; position:relative; z-index:1; height:75px; overflow:hidden;}
.pic_1_list li.active{
	padding: 10px;
}
.pic_1_list li.nopic { padding-left:0; height:auto;}
.pic_1_list li.nopic .pic { display:none;}
.pic_1_list li .pic { display:block; width:100px; height:75px; position:absolute; left:0; top:10px;}
.pic_1_list li h3 { font-weight:normal; font-size:16px; max-height:48px; line-height:24px; overflow:hidden; margin-top:-3px;}
.pic_1_list .p_l_r { color:#aaa; margin-top:8px; font-size:12px; line-height:16px;}
.pic_1_list .ico_jh { display:inline-block; margin-left:5px; vertical-align:middle; background-color:#f4781e; color:#fff; border-radius:3px; font-size:12px; line-height:20px; padding:0 4px;}

.pic_2_list { padding:10px 0 10px!important;}

.pic_2_list li { float:left; width:50%; -webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box; border-top:1px solid #f4f4f4; border-right:1px solid #f4f4f4; padding:10px; position:relative; z-index:1;}
.pic_2_list li:nth-child(2n) { border-right:0 none;}
.pic_2_list li:nth-child(1),.pic_2_list li:nth-child(2) { border-top:0 none;}

.pic_2_list li .pic { position:relative; z-index:1; margin:0 auto; border:1px solid #f2f2f2;}
.pic_2_list li img { display:block; width:100%; vertical-align:top;}
.pic_2_list li .cont { margin:0 auto; border-top:0 none; position:relative; z-index:1;}
.pic_2_list li .cont h3 { font-weight:normal; padding:5px 0 0px 0; line-height:24px; height:24px; overflow:hidden;}
.pic_2_list li .cont .price { padding:0; font-size:14px; color:#f05959; line-height:30px; height:30px; overflow:hidden;}
.pic_2_list li .cont .price em { font-size:20px; font-weight:normal;}
.pic_2_list li .cont .price .del { padding-left:10px; text-decoration:line-through; color:#aaa; font-size:12px;}
.pic_2_list li .num { display:block; position:absolute; top:0; right:5px; border-bottom-left-radius:4px; border-bottom-right-radius:4px; background-color:#22cd22; color:#fff; font-size:12px; padding:0 10px;}

.pic_3_list li { border-bottom:1px solid #f2f2f2; padding:15px 0 9px; position:relative; z-index:1; overflow:hidden;}
.pic_3_list li:first-child { padding-top:0;}
.pic_3_list li .pic img { display:block; width:100%;}
.pic_3_list li h3 { height:24px; overflow:hidden; font-weight:normal; margin:8px 0 3px; position:relative; z-index:1;}
.pic_3_list li h3 .bao { display:block; position:absolute; right:0; top:0; font-size:12px; color:#aaa; background-color:#fff; padding-left:10px;}
.pic_3_list li .info { line-height:24px; height:24px; font-size:14px; overflow:hidden; color:#aaa;}
.pic_3_list li .time,.pic_3_list li .address { font-size:12px; color:#999; padding-left:17px; background-size:240px auto;}
.pic_3_list li .time { float:right; background-position:-224px -190px; padding-left:20px;}
.pic_3_list li .address { float:left; background-position:-227px -162px;    width: 70%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;}

.pic_3_list .pic sup,.business2 sup{ border-radius:5px;position:absolute;z-index:2;font-size:12px;color:#ffffff;top:-2px;right:-8px;padding:2px 10px;height:18px;line-height:18px;-webkit-transform: skew(207deg); padding-right:12px; border:2px solid #fff;}
.pic_3_list .pic sup {top:13px; border-radius:0;}
.pic_3_list li:first-child .pic sup {top:-2px;}
.pic_3_list .pic sup:before,.business2 sup:before{content:'';display:block;-webkit-transform:skew(-207deg);}
.pic_3_list .pic sup.bm1,.pic_3_list .pic sup.bm2,.pic_3_list .pic sup.bm3{background:#3399ff;}
.pic_3_list .pic sup.bm1:before,.pic_3_list .pic sup.bm2:before,.pic_3_list .pic sup.bm3:before{content:'报名中';}
.pic_3_list .pic sup.bm5{background:#999;}
.pic_3_list .pic sup.bm5:before{content:'已结束';}

.pic_4_list { padding:0 10px 20px!important;}
.pic_4_list li { float:left; width:25%;}
.pic_4_list .pic { width:90%; margin:0 auto;}
.pic_4_list .pic img { width:100%; display:block; border-radius:5px;}
.pic_4_list h3 { text-align:center; font-weight:normal;  width:90%; margin:4px auto 0; line-height:24px; height:24px; font-size:14px; overflow:hidden; color:#777}

.bannerSJ { margin:0 10px; border:1px solid #f2f2f2; padding:25px 0;}
.bannerSJ .left,.bannerSJ .right { position:relative; z-index:1; font-size:12px; color:#aaa; width:50%; padding-left:15px; -webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.bannerSJ .left { border-right:1px solid #f2f2f2;}
.bannerSJ .right b a { color:#20b4ff;}
.bannerSJ b { display:block; font-weight:normal; color:#ff493a; font-size:20px;}
.bannerSJ b a { color:#ff493a;}
.bannerSJ .s { display:block; position:absolute; top:0; right:0; width:50px; height:50px; background-position:0 -250px;}
.bannerSJ .right .s { background-position:-50px -250px; right:10px;}

.header .search {
    background: url(../images/search.png) no-repeat;
    background-size: 100px auto;
}