ul,p,dl,dd{
	list-style: none;
	margin: 0;
    padding: 0;
}
.mui-bar-nav{
	background: #FFFFFF;
}
.mui-bar-nav a{
	color:#61616D ;
}
.mui-bar-nav h1{
	color: #333333;
}
.mui-card{margin: 0;margin-top: 15px;}
input[type='text'],input[type='password'],input[type='tel']{
	border: none;
	padding: 0;
	margin: 0;
	width: 70%;
	font-size: 15px;
}
ul{
	margin-left: 20px;
}
ul li{
	padding: 5px 0;
}
ul li i{
	display:inline-block;
	width: 19px; height: 20px;
	background: url(../images/25-_03.png) center no-repeat;
	background-size: contain;
	margin-right: 10px;
	vertical-align: middle;
}
ul li b{
	display:inline-block;
	width: 19px; height: 20px;
	background: url(../images/25-_07.png) center no-repeat;
	background-size: contain;
	margin-right: 10px;
	vertical-align: middle;
}
ul li span{
	display:inline-block;
	width: 19px; height: 20px;
	background: url(../images/25-_11.png) center no-repeat;
	background-size: contain;
	margin-right: 10px;
	vertical-align: middle;
}
ul li:nth-child(2){
	border-bottom: 1px solid #F1F1F1;
	border-top: 1px solid #F1F1F1;
}
ul li:nth-child(2) input{
	width: 55%;
}
ul li:nth-child(2) button{
	border: none;
	color: #fff;
	background: #FFA200;
	font-size: 14px;
	margin-top: 5px;
	padding: 6px 8px;
	margin-right: 4%;
}

.yes_mofidy{
	widows: 90%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background: #FFA200;
	border-radius: 5px;
	margin:30px 5% 0 5%;
	color: #fff;
	display: block;
	font-size: 14px;
}
