ul,p,dl,dd{
	list-style: none;
	margin: 0;
    padding: 0;
}
.mui-bar-nav{
	background: #FFA200;
}
.mui-bar-nav a,.mui-bar-nav h1{
	color: #FFFFFF;
}
.mui-card{margin: 0;margin-top: 15px;}
.mui-card .mui-card-header,.mui-card .mui-card-footer{
	padding: 0;
} 
input[type="password"]{
	width: 96%;
}


/*手机号码*/
.phone_num {
	width: 100%;
	margin-top: 30px;
}
.phone_num ul{
	text-align: center;
}
.phone_num ul li{
	margin-bottom: 15px;
}
.phone_num ul li b{
	display: inline-block;
	width: 43px;height: 60px;
	background: url(../images/19-_03.png) center no-repeat;
	background-size: contain;
	
}
.mui-card-content ul{
	margin-left: 6%;
}
.mui-card-content ul li{
	padding: 5px 0;
}
.mui-card-content ul li input{
	border:none;
	padding:0;
	margin:0;
	font-size:14px;
}
.mui-card-content ul li:first-child input{
	width: 60%;
}
.mui-card-content ul li:first-child button{
	margin-top: 5px;
	margin-right: 3%;
	border: none;
	background: #FFA200;
	color: #fff;
	font-size: 15px;
}
.mui-card-content ul li:nth-child(2){
	border-bottom: 1px solid #F1F1F1;
	border-top: 1px solid #F1F1F1;
}

.confirm_modify{
	display: inline-block;
	width: 90%;
	margin: 40px 5%;
	height: 40px;
	text-align:center;
	line-height: 40px;
	background: #FFA200;
	color: #fff;
	border-radius: 5px;
	font-size: 14px;
}

i.phone_country{
	float: left;
    margin-top: 17px;
    display: inline-block;
    width: 15px;
    height: 8px;
    background: url(../images/7-6_03.png) center no-repeat;
    background-size: contain;
    margin-right: 3%;
}
