*{
	margin: 0;
	padding:0 ;
}
a{
	text-decoration: none;
}
body{
	background: #F4F4F4;
}
ul,ol,dl,dd,dt{
	list-style: none;
}
.ft{
	float: left;
}
.rg{
	float: right;
}
.after:after{
	content: " ";
	display: block;
	clear: both;
}
/*排行榜背景图*/
.bg_contanir {
    width: 100%;
    height: 11.38rem;
    background: url(../img/5-1_02.png) center no-repeat;
    background-size: cover;
    /*overflow: hidden;*/
}
.content header {
	padding: 10px 5% 0 5%;
	
}
.content header a{
	display: inline-block;
	width: 0.508474rem;
	height: 0.508474rem;
	background: url(../img/4-2_03.png) center no-repeat;
	background-size: contain;
}
.content>p{
	text-align: center;
	padding-bottom: 0.169491rem;
}
.content>p>span{
	display: inline-block;
	width: 1.694915rem;
	height: 0.59322rem;
	background: url(../img/5-2_03.png) center no-repeat;
	background-size: contain;
}
.rang_list {
	width: 100%;
	background: #fff;
}
.rang_list ul li{
	width: 100%;
	border-bottom: 1px solid #DFDFDF;
	display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    position: relative;
    
}
.rang_list ul li .img_text{
	display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    /*-webkit-align-items: center;*/
    /*align-items: center;*/
    padding: 0.169491rem 0 0.169491rem 5%;
}
.img_text img{
	width:1.8rem;
	height: 1rem;
}
.img_text dl{
	font-size: 0.237288rem;
	color: #666666;
	margin-left: 0.254237rem;
}
.img_text dl dd{
	margin-top:0.135593rem;
	color: #DA1D04;
	border:1px solid #DA1D04;
	text-align: center;
	padding: 1px;
	border-radius: 3px;
	
}
.rang_list ul li>p{
	font-size: 0.203389rem;
	margin-right:5% ;
	color: #838383;
	margin-top: 30px;
}
.rang_list ul li .pai_dix{
	position: absolute;
	top:0;
	right: 5%;
	font-size: 0.203389rem;
	color: #DB1E05;
}
.rang_list ul li .pai_dix>span{
	display: inline-block;
	width: 0.381355rem;
	height: 0.572033rem;
	background: url(../img/5-2_11.png) center no-repeat;
	background-size: contain;
	text-align: center;
	font-size: 0.237288rem;
	color: #fff;
}
.rang_list ul li .pai_dix>span span{
	display: inline-block;
	margin-top: 0.084745rem;
}
.no_dishes{
	font-size: 0.271186rem;
	color: #fff;
	padding-top: 0.677966rem;
}