*{
	margin: 0;
	padding:0 ;
}
a{
	text-decoration: none;
}
body{
	background: #F4F4F4;
}
ul,ol,dl,dd,dt{
	list-style: none;
}
.hidden{
	display: none;
}
.ft{
	float: left;
}
.rg{
	float: right;
}
.after:after{
	content: " ";
	display: block;
	clear: both;
}
.all_cars{
	width: 90%;
	background: #06C1AE;
	padding: 20px 5% 40px 5%;
}
.car_package{
	width: 100%;
	background: #fff;
	position: relative;
	border-radius: 5px;
}
.car_package .gou{
	display: inline-block;
	width: 0.87796rem;
	height: 0.281355rem;
	background: url(../images/6-1_03.png) center no-repeat;
	background-size: contain;
	margin-top: 10px;
	margin-right: -2 px;
}
.car_header{
	width: 90%;
	padding: 20px 5% 13px 5%;
	
	
}
.car_header h4{
	color: #333;
	font-size: 0.271186rem;
	padding-bottom: 10px;
	width: 86%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;

	
}
.car_header p{
	font-size: 0.18644rem;
	color: #666;
	position: relative;
	line-height: 1.6;
	padding-bottom: 13px;
	border-bottom: 1px solid #eee;
}
.car_header a{
	font-size:12px;
	position: absolute;
	right: 8%;
	margin-top: -31px;
	border:1px solid #06C1AE;
	color: #06C1AE;
	padding: 1px 10px;
	border-radius: 30px;
	line-height: 16px;
}
.car_content{
	width: 90%;
	padding: 0 5% 13px 5%;
}

.frequency{
	width: 100%;
	padding-bottom: 10px;
}
.frequency>span{
	color: #ff5000;
}
.frequency>span b{
	font-size: 0.305084rem;
}
.frequency>span span{
	font-size: 12px;
	font-weight: 700;
}
.frequency a{
	font-size: 0.18644rem;
	line-height: 0.406779rem;
	color: #ffb905;
	border: 1px solid #ffb905;
	padding: 0 10px;
	border-radius: 30px;
}
.car_content p{
	font-size: 12px;
	color: #06C1AE;
}
.car_footer{
	width: 90%;
	padding: 0px 5% 20px 5%;
}
.car_footer p,.car_footer span{
	color: #999;
	font-size: 12px;
}
.car_footer p i{
	display: inline-block;
	width: 0.169491rem;
	height: 0.169491rem;
	background: url(../images/1-1_13.png) center no-repeat;
	background-size: contain;
	
}
.car_package .bg{
	width: 100%;
	height: 0.406779rem;
	background: url(../images/2-1_03.png) center no-repeat;
	background-size: contain;
	position: absolute;
	bottom: -0.084745rem;
}
/*tap切换*/
.tab{
	width: 100%;
	margin-top: 15px;
	background: #fff;
}
.tab li{
	width: 50%;
	padding: 15px 0;
	text-align: center;
	font-size: 0.237288rem;
	color: #333333;
}

.tab li.active{
	color: #06C1AE;
	text-align: center;
}
.tab li.active dd:last-child{
	height: 2px;
	width: 1.440677rem;
	background-color: #06C1AE;
	margin: 0 auto;
	position: relative;
	top: 7px;
}
/*所含商家*/
.all_shops{
	margin-top: 15px;
	padding-bottom: 65px;
}
.shop{
	background: #fff;
	width: 100%;
}
.all_shops .acc{
	margin-top: 15px;
}
.shop_header{
	text-align: center;
	padding: 20px 0 7px 0;
	border-bottom: 1px solid #F1F1F1;
	width: 100%;
}
.shop_header ul{
	width: 100%;
	font-size: 0.237288rem;
}
.shop_header ul li:last-child{
	width: 10%;
	margin: 0 auto;
	border-bottom: 2px solid #06C1AE;
	position: relative;
	top:8px;
}
.shop_content{
	width: 90%;
	padding: 20px 5% 10px 5%;
	display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    border-bottom: 1px solid #f1f1f1;
}
.content_left{
	text-align: center;
}
.content_left li{
	line-height: 1.6;
}
.content_left li img{
	width: 1.016949rem;
	height: 1.016949rem;
}
.content_left li i{
	display: inline-block;
	width: 0.711864rem;
	height: 0.254237rem;
	background: url(../images/2-2_11.png) center no-repeat;
	background-size: contain;

}
.content_right{
	width: 78%;
	position: relative;
	top:-5px;
}
.content_right li:first-child{
	
}
.content_right li:first-child b{
	font-size: 0.237288rem;
	color: #333;
}
.content_right li:first-child span{
	font-size: 12px;
	color: #06C1AE;
	border:1px solid #06C1AE;
	padding: 1px 6px;
	border-radius: 3px;
	line-height: 16px;
}
.content_right li:first-child span.finish {
    font-size: 12px;
    color: #F14747;
    border: 1px solid #F79191;
    padding: 1px 6px;
    border-radius: 3px;
}
.content_right li:nth-child(2){
	font-size: 11px;
	color: #999;
	min-height: 38px;
}
.shop_text p{
	line-height: 1.6;
}
.shop_text a{
	font-size:12px;
	position: absolute;
	right: 5%;
	margin-top: -17px;
	border:1px solid #06C1AE;
	color: #06C1AE;
	padding: 1px 10px;
	border-radius: 30px;
	line-height: 16px;
}
.content_right li:nth-child(3) span{
	font-size: 0.18644rem;
	color: #666;
}
.content_right li:nth-child(3) span i{
	display: inline-block;
	width:0.193389rem;
	height: 0.18644rem;
	background: url(../images/2-2_14.png) center no-repeat;
	background-size: contain;
	vertical-align: middle;
}
.content_right li:nth-child(3){
	margin-top: 3px;
}
.content_right li:nth-child(3) a{
	font-size: 12px;
	color: #999;
	margin-top: 3px;
}
.shop_footer{
	font-size: 0;
}
.shop_footer div{
	display: inline-block;
	width: 33.1%;
	font-size: 0.237288rem;
	text-align: center;
	padding: 5px 0;
    margin: 5px 0;
	color: #333;
}
.shop_footer .navigation{
	border-right: 1px solid #f1f1f1;
	border-left: 1px solid #f1f1f1;
}
.shop_footer .xiang i{
	display: inline-block;
	width: 0.271186rem;
	height: 0.237288rem;
	background: url(../images/6-1_07.png) center no-repeat;
	background-size: contain;
	vertical-align: middle;
}
.shop_footer .navigation i{
	display: inline-block;
	width: 0.271186rem;
	height: 0.237288rem;
	background: url(../images/2-2_22.png) center no-repeat;
	background-size: contain;
	vertical-align: middle;
}
.shop_footer .phone i{
	display: inline-block;
	width: 0.271186rem;
	height: 0.237288rem;
	background: url(../images/2-2_19.png) center no-repeat;
	background-size: contain;
	vertical-align: middle;
}
/*购买*/
.bottom{
	font-size: 0.288135rem;
	width: 100%;
	position: fixed;
	bottom: 0;
	height: 50px;
	text-align: center;
	line-height: 50px;
	background: #06C1AE;
	color: #fff;
}


.mask{
	position: fixed;
    z-index: 998;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
      background-color: rgba(51, 51, 51, .9);
}
#details{
	width: 80%;
	margin: 0 10%;
	height: 480px;
	position: fixed;
	top:50%;
	margin-top:-240px;
	/*background: #fff;*/
	z-index: 9999;
	border-radius: 5px;
	overflow-y: scroll;
	
}
.show_img img{
	width: 100%;
}
.details_header{
	background: #fff;
	padding: 10px 0 10px 5%;
	font-size: 0.237288rem;
	border-bottom: 1px solid #F1F1F1;
}
.details_header i{
	display: inline-block;
	width: 0.216101rem;
	height: 0.266949rem;
	background: url(../images/6-1_07.png) center no-repeat;
	background-size: contain;
	vertical-align: middle;
	margin-right: 2%;
}
.details_content {
	width: 90%;
	padding: 15px 5%;
	background: #fff;
	overflow-y: scroll;
	height: 335px;
}
.details_content h4{
	text-align: center;
	padding-bottom: 10px;
	font-size: 0.271186rem;
	color: #333;
}
.details_content p{
	font-size: 12px;
	color: #666666;
	line-height: 1.6;
	word-wrap:break-word;
    text-overflow: ellipsis;
}
.details_footer{
	padding: 20px 0;
	width: 100%;
	text-align: center;
}
.details_footer p{
	width: 0.508474rem;
	height:  0.508474rem;
	background: url(../images/2-3_07.png) center no-repeat;
	background-size: contain;
	margin: 0 auto;
}
