*{
	margin: 0;
	padding:0 ;
}
a{
	text-decoration: none;
}
body{
	background: #F4F4F4;
}
ul,ol,dl,dd,dt{
	list-style: none;
}
.hidden{
	display: none!important;
}
.ft{
	float: left;
}
.rg{
	float: right;
}
.after:after{
	content: " ";
	display: block;
	clear: both;
}
.all_cars{
	width: 90%;
	background: #06C1AE;
	padding: 20px 5% 20px 5%;
}
.car_package{
	width: 100%;
	background: #fff;
	position: relative;
	border-radius: 5px;
}
.car_header{
	width: 90%;
	padding: 20px 5% 20px 5%;
	
	
}
.car_header h4{
	color: #333;
	font-size: 0.271186rem;
	padding-bottom: 10px;
}
.car_header p{
	font-size: 0.18644rem;
    color: #666;
    position: relative;
    line-height: 1.6;
    padding-bottom: 13px;
    border-bottom: 1px solid #eee;
    /* width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; */
}

.car_package .bg{
	width: 0.169491rem;
	height: 1.169491rem;
	background: url(../images/1-1_16.png) center no-repeat;
	background-size: contain;
	position: absolute;
	top:50%;
	left:-2px;
	margin-top:-0.5847455rem ;
}
/*搜索框样式*/
.search{
	width: 90%;
	margin: 0 5%;
	background: #fff;
	padding: 10px 0;
	margin-top: 15px;
	position: relative;
	border-radius: 5px;
}
.search input{
	font-size: 0.220338rem;
	width: 53%;
	margin-left: 5%;
	padding: 10px 0;
	border:none;
	border-radius: 5px;
	background: #EEEEEE;
	color: #999999;
	padding-left: 0.576271rem;
	padding-right:0.406779rem;
} 

.search input:focus{
	background: #fff;
}
.search a.active{
	color: #fff;
	background: #06C1AE;
} 
.search i{
	display: inline-block;
	width: 0.254237rem;
	height: 0.254237rem;
	background: url(../images/2-2_03.png) center no-repeat;
	background-size: contain;
	position: absolute;
	left: 8%;
	top:19px;
}
.search b{
	display: inline-block;
	width: 0.406779rem;
	height: 0.406779rem;
	background: url(../images/5-9.png) center no-repeat;
	background-size: contain;
	position: absolute;
	left: 67%;
	top: 15px;
}

.search a{
	margin-right: 5%;
	font-size: 0.237288rem;
	padding: 8px 11px;
	background: #d9d9d9;
	color: #999;
	border-radius: 5px;
}
/*所含商家*/
.all_shops{
	margin-top: 15px;
	padding-bottom: 65px;
}
.shop{
	background: #fff;
	width: 100%;
	margin-bottom: 15px;
}

.shop_header{
	text-align: center;
	padding: 20px 0 7px 0;
	border-bottom: 1px solid #F1F1F1;
	width: 100%;
	background: #fff;
}
.shop_header ul{
	width: 100%;
	font-size: 0.237288rem;
}
.shop_header ul li:last-child{
	width: 10%;
	margin: 0 auto;
	border-bottom: 2px solid #06C1AE;
	position: relative;
	top:8px;
}
.shop_content{
	width: 90%;
	padding: 20px 5% 10px 5%;
	display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    /*border-bottom: 1px solid #f1f1f1;*/
}
.content_left{
	text-align: center;
}
.content_left li{
	line-height: 1.6;
}
.content_left li img{
	width: 1.016949rem;
	height: 1.016949rem;
}
.content_left li i{
	display: inline-block;
	width: 0.711864rem;
	height: 0.254237rem;
	background: url(../images/2-2_11.png) center no-repeat;
	background-size: contain;

}
.content_right{
	width: 78%;
	position: relative;
	/*top:-5px;*/
}
.content_right li:first-child{
	
}
.content_right li:first-child b{
	font-size: 0.237288rem;
    color: #333;
    display: inline-block;
    width: 53%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.content_right li:first-child span{
	font-size: 12px;
	color: #06C1AE;
	border:1px solid #06C1AE;
	padding: 1px 6px;
	border-radius: 3px;
	line-height: 16px;
}
.content_right li:nth-child(3){
	font-size: 11px;
	color: #999;
	width: 100%;
}
.shop_text p{
	line-height: 1.6;
    width: 76%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.shop_text a{
	font-size:12px;
	position: absolute;
	right: 0%;
	margin-top: -17px;
	border:1px solid #06C1AE;
	color: #06C1AE;
	padding: 1px 10px;
	border-radius: 30px;
	 line-height: 16px;
}
.content_right li:nth-child(4) span{
	font-size: 0.18644rem;
	color: #666;
}
.content_right li:nth-child(4) span i{
	display: inline-block;
	width:0.193389rem;
	height: 0.18644rem;
	background: url(../images/2-2_14.png) center no-repeat;
	background-size: contain;
	vertical-align: middle;
}
.content_right li:nth-child(4){
	/*margin-top: 3px;*/
}
.content_right li:nth-child(4) a{
	font-size: 12px;
	color: #999;
	margin-top: 3px;
}
.shop_footer{
	width: 90%;
	padding: 10px 5%;
	font-size: 0.220338rem;
	text-align: center;
}


.shop_footer .set{
	display: inline-block;
	width: 1.779661rem;
	height: 0.488305rem;
	text-align: center;
	line-height: 0.488305rem;
	background: #06C1AE;
	border-radius: 3px;
	color: #fff;
	font-weight: normal;
	border:1px solid #06C1AE;
}
.shop_footer .set.active{
	display: inline-block;
	width: 1.779661rem;
	height: 0.488305rem;
	text-align: center;
	line-height: 0.488305rem;
	background: #FFEAEA;
	border-radius: 3px;
	color: #F04141;
	border:1px solid #F57474;
	font-weight: normal;
}
.shop_footer .navigation{
	border-right: 1px solid #f1f1f1;
}
.shop_footer .navigation i{
	display: inline-block;
	width: 0.271186rem;
	height: 0.237288rem;
	background: url(../images/2-2_22.png) center no-repeat;
	background-size: contain;
	vertical-align: middle;
}
.shop_footer .phone_call i{
	display: inline-block;
	width: 0.271186rem;
	height: 0.237288rem;
	background: url(../images/2-2_19.png) center no-repeat;
	background-size: contain;
	vertical-align: middle;
}
.shop_footer .change{
	width: 90%;
	padding: 10px 5%;
	font-size: 0.220338rem;
	text-align: right;
}
.shop_footer span{
	color: #FF9551;
	margin-right: 2%;
}
.shop_footer .change .set{
	display: inline-block;
	width: 1.779661rem;
	height:  0.488305rem;
	text-align: center;
	line-height: 0.488305rem;
	background: #06C1AE;
	border-radius: 3px;
	color: #fff;
}
.shop_footer .change .set.active{
	display: inline-block;
	width: 1.779661rem;
	height: 0.488305rem;
	text-align: center;
	line-height: 0.488305rem;
	background: #EDFFFD;
	border-radius: 3px;
	color: #06C1AE;
	border:1px solid #06C1AE;
	font-weight: normal;
}
/*购买*/
.bottom{
	font-size: 0.288135rem;
	width: 100%;
	position: fixed;
	bottom: 0;
	height: 50px;
	text-align: center;
	line-height: 50px;
	background: #06C1AE;
	color: #fff;
}


.mask{
	position: fixed;
    z-index: 998;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
      background-color: rgba(51, 51, 51, .9);
}
#details{
	width: 80%;
	margin: 0 10%;
	height: 480px;
	position: fixed;
	top:50%;
	margin-top:-240px;
	/*background: #fff;*/
	z-index: 9999;
	border-radius: 5px;
	overflow-y: scroll;
	
}
.show_img img{
	width: 100%;
}
.details_header{
	background: #fff;
	padding: 10px 0 10px 5%;
	font-size: 0.237288rem;
	border-bottom: 1px solid #F1F1F1;
}
.details_header i{
	display: inline-block;
	width: 0.216101rem;
	height: 0.266949rem;
	background: url(../images/6-1_07.png) center no-repeat;
	background-size: contain;
	vertical-align: middle;
	margin-right: 2%;
}
.details_content {
	width: 100%;
	padding: 15px 0%;
	background: #fff;
	overflow-y: scroll;
	height: 335px;
}
.details_content h4{
	text-align: center;
	padding-bottom: 10px;
	font-size: 0.271186rem;
	color: #333;
}
.details_content p{
	font-size: 12px;
	color: #666666;
	line-height: 1.6;
	word-wrap:break-word;
    text-overflow: ellipsis;
    padding:0px 3%;
}
.details_content p:last-child{
	padding-bottom:10px;
}
.details_footer{
	padding: 20px 0;
	width: 100%;
	text-align: center;
}
.details_footer p{
	width: 0.508474rem;
	height:  0.508474rem;
	background: url(../images/2-3_07.png) center no-repeat;
	background-size: contain;
	margin: 0 auto;
}

/*输入框弹层样式*/
.input_box{
	position: fixed;
	z-index: 9999;
	top: 50%;
	width: 80%;
	margin: 0 10%;
	height: 60px;
	background: #fff;
	margin-top: -30px;
	font-size: 0;
	
}
.input_box input{
	margin: 10px 5%;
    height: 28px;
    width: 60%;
    padding: 5px;
    font-size: 14px;
    border-radius: 5px;
    border:1px solid #eee;
}

.input_box a{
	display: inline-block;
	font-size: 14px;
	width: 20%;
	background: #06C1AE;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border-radius: 5px;
	color: #fff;
}
.bottom_css{
	text-align: center;
	color: #06C1AE;
	font-size: 0.237288rem;
	padding-bottom: 10px;
	display: none;
}



.swiper-container,.swiper-wrapper,.swiper-slide{
  width: 100%;
  height: 100%;
}
.swiper-container {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1;
}
.swiper-slide{
	  float: left;
}
.swiper-pagination {
  position: absolute;
  z-index: 20;
  left: 0px;
  width: 100%;
  text-align: center;
  bottom:30px;
}
.swiper-pagination-switch {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 8px;
  background: black;
  margin-right:5px;
  opacity: 0.14;
  cursor: pointer;
}
.swiper-active-switch {
  background: #06c1ae;
  opacity: 1;
}

.banner{
	height: 119px;;
}
.banner img{
	height:83.33%;
	width:100%;
}
.slider{
	background-color: white;
	border-bottom: 1px solid #edebeb;
	margin-bottom: 10px;
}

.icon-list .icon {
  float: left;
  width: 25%;
  text-align: center;
}
.icon-list.num10 .icon {
  float: left;
  width: 20%;
  text-align: center;
}
.icon-list .icon > a {
  padding-top: 12px;
  display: block;
}
.icon-list .icon-circle {
  display: block;
  margin: auto;
  width: 40px;
  height: 40px;
  text-align: center;
  color: white;
  margin-bottom: 3px;
}
.icon-list.num10 .icon-circle {
	width:36px;
	height:36px;
}
.icon-list .icon-circle img {
  width: 100%;
  height: 100%;
}
.icon-list .icon-desc {
  text-align: center;
  color: #999;
}
.icon-list.num10 .icon-desc {
	font-size:12px;
}
.slider .swiper-pagination{
	bottom:2px;
}
.slider .swiper-pagination-switch{
	background-color: white;
	border:1px solid #d8d8d8;
	width:5px;
	height:5px;
	margin-right: 5px;
	opacity: 1;
}
.slider .swiper-active-switch{
	background: #06c1ae;
	border:1px solid #06c1ae;
}

.invote{
	background-color: white;
	border-bottom:1px solid #edebeb;
	margin-bottom: 10px;
	min-height:50px;
	border-top:1px solid #edebeb;
}
.invote a{
	color: #666;
    display: block;
    padding: 10px;
}
.invote img{
	width: 32px;
	height: 32px;
    margin-right: 6px;
    vertical-align: middle;
}
.invote button{
	float: right;
    height: 32px;
    border: none;
    background-color: green;
    color: white;
    border-radius: 5px;
    padding: 0 6px;
	font-size:12px;
}


.activity{
	height:124px;
	background-color: white;
	border-top: 1px solid #edebeb;
	border-bottom: 1px solid #edebeb;
	margin-bottom: 10px;
	overflow: hidden;
}
.activity .activityBox{
	padding:6px 0;
}
.activity .activityBox .swiper-wrapper {
  position: relative;
  width: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;

  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -ms-transition-property: -ms-transform;
  transition-property: transform;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
    height:110px;
}
.activity .activityBox .swiper-slide{
	  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  border-right: 1px solid #f1f1f1;
  float:none;
}
.activity .activityBox .swiper-slide a{
	display: block;
	margin: 0 6px;
	background-color: #F5F5F5;
	height: 100%;
 	width: 100%;
  	position: relative;
  	border-radius: 6px;
  	padding-left:125px;
  	padding-right: 6px;
}
.activity .activityBox .swiper-slide:last-child{
	border-right: none;
}

.limit{
	width: 90%;
    padding: 0px 5% 10px 5%;
    border-bottom:1px solid #f1f1f1;
}
.limit p i{
	display: inline-block;
    width: 0.169491rem;
    height: 0.169491rem;
    background: url(../images/1-1_13.png) center no-repeat;
    background-size: contain;
    margin-right: 2%;
}
.limit p,.limit span{
	color: #999;
    font-size: 12px;
}
.limit p{
	width: 81%;
}

.hui{
	 background: #8b8c8c !important;
    border: 1px solid #8b8c8c !important;
}