*{
    margin: 0;
    padding: 0;
}
h4 a:hover{
    color: #06C1AE!important;
}
a{
    text-decoration: none!important;
}
h4 a{
    color: #151515;
}
a:hover{
    text-decoration: none;
}
.item0 a:hover{
    color: #06C1AE;
}
body{
    font: 12px/1.5 Microsoft YaHei,Heiti SC,tahoma,arial,Hiragino Sans GB,\\5B8B\4F53,sans-serif;
    color: #666;
    background: #f9f9f9;
}
ul,ol,li,dl,dt,dd{
    list-style:none;
    margin: 0;
}
.dorpdown{
    position: relative;
    z-index: 21;
}
.navbar{
    border-bottom: 1px solid #ddd;
    background-color: #F1F1F1;
    height: 30px!important;
    min-height: 30px;
}
.logos{
    background: #fff;
}
.w{
    color: #999;
    margin: auto;
    width: 1200px;
    padding: 45px 0;
}
.logosLeft{
    margin-right:80px;
}
.logosRight ul li{
    font-size: 14px;
    padding: 3px 10px 3px 10px ;
}
.logosRight ul li.active{
    background: #06C1AE;
    border-radius: 3px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    color: #fff;
}
.rightBottom{
    position: relative;
    top: -4px;
}
.rightBottom input{
    height: 36px;
    width: 560px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 3px;
    border:2px solid #06C1AE;
    padding-left: 42px;
    outline:none;

}
.rightBottom>i{
    position: absolute;
    left: 14px;
    color: #DCDCDC;
    font-size: 18px;
    top: 12px;
    font-weight: normal;
}
.rightBottom button{
    height: 36px;
    width: 60px;
    border:none;
    background: #06C1AE;
    position: relative;
    left: -4px;
        outline: none;
    vertical-align: bottom;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.rightBottom button i{
    font-size: 18px;
    color: #fff;
}
.cart{
    margin-left: 82px;
    position: relative;
    top:30px;
}
.cart:hover .cartContent{
    display: block;
}
.cart .cartIcon{
    display: inline-block;
    width: 32px;
    height: 32px;
    background: url(../images/g1_03.png) center no-repeat;
    background-size: contain;
}
.cart b.length{
    display: inline-block;
    font-weight: normal;
    width: 20px;
    height:20px;
    border-radius: 50%;
    background: #E31436;
    color: #fff;
    position: absolute;
    top: -4px;
    left: 23px;
    text-align: center;
    line-height: 20px;
}
.cartContent{
    display: none;
    position: absolute;
    left: -270px;
    top: 42px;
    width: 328px;
    height: 328px;
    border:1px solid #06C1AE;
    background: #fff;
    z-index: 100;
}
.cartContent>i{
    font-size: 28px;
    position: absolute;
    top: -17px;
    left: 274px;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
    background: #fff;
    z-index: 100;
    color: #06C1AE;
}
.foots{
    height: 250px;
    overflow-y: auto;
}
.scrolls::-webkit-scrollbar-track-piece {
    background-color:#f5f5f5;

}
.scrolls::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}
.scrolls::-webkit-scrollbar-thumb {
    background-color:#c2c2c2;
    background-clip:padding-box;
    min-height:28px;
}

.foots li{
    width:100%;
    padding:10px 5%;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.footPic{
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    width: 75%;
}
.footPic img{
    width: 60px;
    height: 60px;
    margin-right: 10px;
}
.footPic dl dt{
    color: #333;
    margin-bottom: 2px;
    width: 145px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}
.footMoney span{
    color: #E31436;
    margin-right: 10px;
}
.footMoney i{
    font-size: 15px;
    vertical-align: middle;
}

.cartCar{
    width:326px;
    padding:10px 15px;
    position: absolute;
    top:256px;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    height: 70px;
    background: #EFF7F6;
}
.cartCar p{
    color: #E31436;
    font-size: 14px;
    margin: 0%;
}
.cartCar button{
    border:none;
    background: #06C1AE;
    color: #fff;
    padding: 8px 15px;
    font-size: 14px;
    border-radius: 5px;
}
.containers{
    color: #999;
    background: #F9F9F9;
    margin: auto;
    width: 1200px;
}
.navList{
    background: #fff;
}
.classList{
    margin: auto;
    width: 1200px;
    background: #fff;
}
.classList .item{
    width: 200px;
}
.classList .item p{
    margin: 0;
    font-size: 15px;
    background: #f2f2f2;
    padding: 10px 0;
    width: 200px;
    text-align: center;color: #333;
}
.classList .item p i{
    margin-right: 10px;
}
.navList hr{
    width: 100%;
    height: 2px;
    background: #06c1ae1f;
    margin: 0;
    border:none;
}
.item{
    position: relative;
}
.item>ul{
    position: absolute;
    z-index: 10;
    top: 44px;
    height: 420px;
    background: #333;
	background: rgba(0,0,0,0.6);
}
.carousel-indicators{
    left: 57%;
}
.item .item0{
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    width: 200px;
    height: 60px;
    padding: 11px;
    font-size: 14px;
    border-bottom:1px solid #f2f2f224;
}

.classList .item:hover>ul{
    display: block;
}
.item .item0 dt a{
    color: #fff;
}
.item .item0 dt a:hover{
    color: #06C1AE;
}
.item .item0 dd a{
    font-size: 12px;
    color: #D6D6D6;
}
.item .item0 dd a:hover{
    color: #06C1AE;
}
.item .item0:hover .ziClass{
    display: block;
}
.ziClass{
    display: none;
    position: absolute;
    top: 0px;
    left: 200px;
    min-height: 100px;
    width: 385px;
    padding: 15px 12px;
    border:1px solid #151515;
    background: #fff;
    /*overflow-y: auto;*/
}

.item>ul li:nth-of-type(1) .ziClass{
    top: 0px;
}
.item>ul li:nth-of-type(2) .ziClass{
    top: 60px;
}
.item>ul li:nth-of-type(3) .ziClass{
     top:120px;
 }
.item>ul li:nth-of-type(4) .ziClass{
      top: 180px;
}
.item>ul li:nth-of-type(5) .ziClass{
       top: 240px;
}
.item>ul li:nth-of-type(6) .ziClass{
    top:300px;
}
.item>ul li:nth-of-type(7) .ziClass{
   top:360px;
}

.ziClass_1{
    font-size: 12px;
    margin-bottom: 10px;
}
.ziClass_1 h4{
    font-size: 14px;
    color: #151515;
    padding-bottom: 8px;
    margin-top: 0;
    border-bottom: 1px solid #EAEAEA;
}
.ziClass_1 ul li{
    
    text-align: center;
    border-right:1px solid #DADADA;
    margin-bottom: 8px;
    padding: 0 10px;
}
.ziClass_1 ul li a{
    color: #777;
}
.ziClass_1 ul li a:hover{
    color: #06C1AE;
    text-decoration: none;
}
.itemRight ul li{
    font-size: 15px;
    color: #151515;
    text-align: center;
    font-weight: 700;
    margin: 0 10px;
}
.itemRight ul li a{
    color: #151515;
       display: inline-block;
    padding: 10px;
    margin: 0 10px;
}
.itemRight ul li.active{
    color: #fff;
    background: #06C1AE;

}
.itemRight ul li.active a{
    color: #fff;
    background: #06C1AE;
}
.itemRight ul li:hover{
    color: #fff;
    text-decoration: none;
    background: #06C1AE;
}
.itemRight ul li:hover a{
    color: #fff;
    text-decoration: none;
    background: #06C1AE;
}
.carousel {
    position: relative;
    width: 1200px;
    margin: auto;
}
.carousel-control{
    width: 4%;
}
.left.carousel-control{
    margin-left: 16.5%;
}
.carousel-control{
    display: none;
}
.carousel:hover .carousel-control{
    display: block;
}
.accordion{
    width: 1200px;
    height: 310px;
    margin: 20px auto;
}

.accordion ul {
    position: relative;
    width: 100%;
    height: 310px;
    background: #fff;
    overflow: hidden;
}

.accordion li {
    list-style: none;
    width: 130px;
    height: 310px;
    background: #fff;
}
.accordion li:first-child{
    width: 680px;
}
.accordion li:first-child i{
    display: none;
}
.accordion .a0{

    width: 680px;
}
.accordion .a0 i{
    display: none;
}
.accordion a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.accordion i {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    transition: background 0.5s ease-in-out 0s;
    background: #fff;
}

.accordion li.press i {
    background: rgba(0,0,0,.3);
}
.accordion li.press:hover i{
   display: none;
}

.accordion img {
    width: 100%;
    height: 100%;
}
.variousClass{
    width: 1200px;
    margin: auto;
    padding-top: 20px;
}
.variousClassHeader{
    width: 100%;
    padding-bottom: 6px;
        border-bottom: 1px solid #f1f1f1;
    position: relative;
}
.variousClassHeader h3{
    margin: 0;
    color: #151515;
    padding-right: 80px;
}
.variousClassHeader ul,.variousClassHeader a{
    position: relative;
    top: 8px;
}
.variousClassHeader ul li{
    font-size: 16px;
    color: #424242;
    padding: 0px 20px;
    padding-bottom: 6px;
    cursor: pointer;
}
.variousClassHeader ul li.active{
    border-bottom:2px solid #06C1AE ;
}
.variousClassHeader a{
    font-size: 14px;
    color: #999;
}
.variousClassHeader a:hover{
    text-decoration: none;
    color: #06C1AE;
}
.variousClassContent>img{
    margin: 20px 0;
    width: 1200px;
    height: 224px;
}
.variousFoods li{
    width: 232px;
    margin-right: 10px;
    margin-bottom: 20px;
    background: #fff;
    text-align: center;
    position: relative;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear
}
.variousFoods li:hover {
    -webkit-transform: translate3d(0, -2px, 0);
    transform: translate3d(0, -2px, 0);
    -webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    box-shadow: 0 10px 20px rgba(0,0,0,0.1)
}
.variousFoods li:nth-of-type(5n+5){
    margin-right: 0;
}
.variousJian{
    height: 20px;
    margin-top:10px;
}
.variousFoods li h4{
    font-size: 16px;
    color: #333;
    width: 100%;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.variousFoods li p{
    font-size: 14px;
    color: #E31436;
}
.deadline{
    position: absolute;
    top: 0;
    right: 15px;
    background: #FF4F38;
    color: #fff;
    padding: 5px 12px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 14px;
}
.deadline i{
    font-style: normal;
}
.normalProducts{
    width: 100%;
    height: 130px;
    background: #fff;
    text-align: center;
}
.normalProducts img{
    width: 1200px;
    height: 130px;
}
.footer{
    background: #181921;
    padding: 30px 0;
    width: 100%;
    text-align: center;
}
.footer .footClass{
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.footer ul li{
    margin: 10px 0;

}
.footer ul li span{
    margin: 0 8px;
}
.carousel-indicators li{
    border-radius: 50%;
    background: #F1A9AD;
    border: none;
    margin: 1px 5px;
}
.carousel-indicators li.active {
    width: 10px;
    height: 10px;
    margin: 1px 5px;
    background-color: #fff;
}
.hui{
    background: #06C1AE;color: #fff;padding:2px  4px;font-size: 12px;border-radius: 3px;
}
.jian1{
    background: #5D26EA;color: #fff;padding: 2px 4px;font-size: 12px;border-radius: 3px; margin-right: 3px;
}
.zhe{
    background: #DD1111;color: #fff;padding: 2px 4px;font-size: 12px;border-radius: 3px; margin-right: 3px;
}
.variousFoods li img{
    width:230px;
    height:230px;
}

.imgs{
    margin: 20px 0;
}
h4 a:hover{
    color: #06C1AE!important;
}