.modal-dialog{
	width:600px\0;
	margin:30px auto\0;
}
.form_tips{
line-height: 34px;
margin-left: 20px;
}















.m-b-lg {
	margin-bottom: 12px!important
}

.text-success {
	color: #52c41a
}

.text-danger {
	color: #f5222d
}

.readed {
	color: rgba(0,0,0,.45)
}

.form-group-title {
	padding-left: 16px;
	font-size: 16px;
	position: relative
}

.form-group-title:after {
	content: "";
	width: 5px;
	height: 24px;
	background: #47c479;
	position: absolute;
	top: 0;
	left: 0
}



@font-face {
	font-family:anticon;src:url("https://at.alicdn.com/t/font_148784_v4ggb6wrjmkotj4i.eot");src:url("https://at.alicdn.com/t/font_148784_v4ggb6wrjmkotj4i.woff") format("woff"),url("https://at.alicdn.com/t/font_148784_v4ggb6wrjmkotj4i.ttf") format("truetype"),url("https://at.alicdn.com/t/font_148784_v4ggb6wrjmkotj4i.svg#iconfont") format("svg")
}




























.ant-card-body {
	padding: 10px;
	zoom: 1
}

.ant-card-body:after,.ant-card-body:before {
	content: " ";
	display: table
}

.ant-card-body:after {
	clear: both;
	visibility: hidden;
	font-size: 0;
	height: 0
}

.ant-card-contain-grid .ant-card-body {
	margin: -1px 0 0 -1px;
	padding: 0
}



.ant-card-wider-padding .ant-card-body {
	padding: 24px 32px
}

.ant-card-padding-transition .ant-card-body,.ant-card-padding-transition .ant-card-head {
	-webkit-transition: padding .3s;
	transition: padding .3s
}


.ant-card-type-inner .ant-card-body {
	padding: 16px 24px
}















































