@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-17gffl');
	src:url('../fonts/icomoon.eot?#iefix-17gffl') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?-17gffl') format('truetype'),
		url('../fonts/icomoon.woff?-17gffl') format('woff'),
		url('../fonts/icomoon.svg?-17gffl#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-uniE600:before {
	content: "\e600";
}
.icon-uniE601:before {
	content: "\e601";
}
.icon-uniE602:before {
	content: "\e602";
}
.icon-uniE603:before {
	content: "\e603";
}
.icon-uniE604:before {
	content: "\e604";
}
.icon-uniE605:before {
	content: "\e605";
}
.icon-uniE606:before {
	content: "\e606";
}
.icon-uniE607:before {
	content: "\e607";
}
.icon-uniE608:before {
	content: "\e608";
}
.icon-uniE609:before {
	content: "\e609";
}
.icon-uniE60A:before {
	content: "\e60a";
}
.icon-uniE60B:before {
	content: "\e60b";
}
.icon-uniE60C:before {
	content: "\e60c";
}
.icon-LeftArrow3:before {
	content: "\e60d";
}
.icon-zan:before {
	content: "\e60e";
}
.icon-Shape18:before {
	content: "\e60f";
}
.icon-48:before {
	content: "\e610";
}
.icon-2:before {
	content: "\e611";
}
.icon-482:before {
	content: "\e612";
}
.icon-1:before {
	content: "\e613";
}
.icon-56:before {
	content: "\e614";
}
.icon-6:before {
	content: "\e615";
}
.icon-22:before {
	content: "\e616";
}
.icon-5:before {
	content: "\e617";
}
.icon-10:before {
	content: "\e618";
}
.icon-18:before {
	content: "\e619";
}
.icon-svg:before {
	content: "\e61a";
}
.icon-28:before {
	content: "\e61c";
}
.icon-562:before {
	content: "\e61d";
}
.icon-57:before {
	content: "\e61e";
}
.icon-58:before {
	content: "\e61f";
}
.icon-Highlighter:before {
	content: "\e620";
}
.icon-iPhone:before {
	content: "\e621";
}
.icon-LOCK:before {
	content: "\e622";
}
.icon-55:before {
	content: "\e623";
}
.icon-Eye:before {
	content: "\e624";
}
.icon-23:before {
	content: "\e625";
}
.icon-4:before {
	content: "\e626";
}
.icon-963:before {
	content: "\e627";
}
.icon-30:before {
	content: "\e628";
}
.icon-OrientationLock:before {
	content: "\e61b";
}
.icon-help:before {
	content: "\e629";
}
.icon-60:before {
	content: "\e62a";
}
.icon-602:before {
	content: "\e62b";
}
.icon-uniE62C:before {
	content: "\e62c";
}
.icon-12:before {
	content: "\e62d";
}
.icon-13:before {
	content: "\e62e";
}
.icon-563:before {
	content: "\e62f";
}
.icon-572:before {
	content: "\e630";
}
.icon-Settings:before {
	content: "\e631";
}
.icon-79:before {
	content: "\e632";
}
.icon-81:before {
	content: "\e633";
}
.icon-82:before {
	content: "\e634";
}
.icon-uniE635:before {
	content: "\e635";
}
.icon-uniE636:before {
	content: "\e636";
}
.icon-uniE637:before {
	content: "\e637";
}
.icon-uniE638:before {
	content: "\e638";
}
.icon-uniE639:before {
	content: "\e639";
}
.icon-uniE63A:before {
	content: "\e63a";
}
.icon-uniE63B:before {
	content: "\e63b";
}
.icon-uniE63C:before {
	content: "\e63c";
}
.icon-uniE63D:before {
	content: "\e63d";
}
.icon-uniE63E:before {
	content: "\e63e";
}
.icon-uniE63F:before {
	content: "\e63f";
}
.icon-uniE640:before {
	content: "\e640";
}
.icon-26:before {
	content: "\e641";
}
.icon-uniE642:before {
	content: "\e642";
}
.icon-uniE643:before {
	content: "\e643";
}
.icon-uniE644:before {
	content: "\e644";
}
.icon-uniE645:before {
	content: "\e645";
}
.icon-uniE646:before {
	content: "\e646";
}
.icon-uniE647:before {
	content: "\e647";
}
.icon-uniE648:before {
	content: "\e648";
}
.icon-uniE649:before {
	content: "\e649";
}
.icon-uniE64A:before {
	content: "\e64a";
}
.icon-uniE64B:before {
	content: "\e64b";
}
.icon-uniE64C:before {
	content: "\e64c";
}
.icon-uniE64D:before {
	content: "\e64d";
}
.icon-uniE64E:before {
	content: "\e64e";
}
.icon-uniE64F:before {
	content: "\e64f";
}
.icon-uniE650:before {
	content: "\e650";
}
.icon-uniE651:before {
	content: "\e651";
}
.icon-uniE652:before {
	content: "\e652";
}
.icon-uniE653:before {
	content: "\e653";
}
.icon-uniE654:before {
	content: "\e654";
}
.icon-uniE655:before {
	content: "\e655";
}
.icon-90:before {
	content: "\e656";
}
.icon-902:before {
	content: "\e657";
}
.icon-91:before {
	content: "\e658";
}
.icon-uniE659:before {
	content: "\e659";
}
.icon-uniE65A:before {
	content: "\e65a";
}
.icon-uniE65B:before {
	content: "\e65b";
}
.icon-24:before {
	content: "\e65c";
}
.icon-uniE65D:before {
	content: "\e65d";
}
.icon-109:before {
	content: "\e65e";
}
.icon-110:before {
	content: "\e65f";
}
.icon-1102:before {
	content: "\e660";
}
.icon-11022:before {
	content: "\e661";
}
.icon-25:before {
	content: "\e662";
}